.icon{
	position: relative;
	float: left;
	display: block;
	cursor: pointer;
	background: @buttons;
	border:none;
	outline: none;
	border-radius: 50px;
	height: 30px;
	color: @light-text;
	font-size: 1em;
	&:hover{
		background: @dark-text;
	}
	&.new{
		width: 110px;
		float: right;
		line-height: 30px;
		&:before{
			content: "";
			width:20px; 
			height:20px; 
			background: url(../images/sprite.png) no-repeat;
			background-position:-10px -1005px;
			display: inline-block;
			position: relative;
			margin-right: 5px;
			top: 4px;
			left: -4px;
		}
	}
}

.table{
	width: 100%;
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
th{
	text-align: left;
	font-size: 1.1em;
}
tr{
	line-height: 3em;
}
th,td{
	padding: 0 5px;
}
.table-striped{
	&>tbody>tr:nth-child(odd)>td, &>tbody>tr:nth-child(odd)>th{
		background-color: #eff1f6;
	}
}

.hide{
	display: none;
}

/*****************
************************* SIZES*************************/
.third{
	width: 30px;
	height: 30px;
}
.second{
	width: 20px;
	height: 20px;
}