/*******************************
          RESPONSIVE
*******************************/

@media only screen and(min-width:480px){
	.content{
		.viewport{
			.col-sm-2{
				width: 50%;
			}
		}
	}
	.thumbnail{
		width: 225px;
		height: 310px;
		&.big{
			height: 360px;
		}
		.caption{
			width: 225px;
			.link{
				min-height: 45px;
				width: 215px;
				h4{
					padding: 1px 2px 3px 5px;
				}
				p{
					line-height: 1.5em;
				}

			}
			h3{
				font-size: 11px;
			}
			ul{
				width: 225px;
			}
			li{
				// width: 75px;
			}
		}
	}
	footer{
		// display: block;
	}
}


@media only screen and(min-width:500px){
	.comand-container{
		.comandbar{
			max-width: 465px;
		}
	}
	.bread-container{
		.bread-box{
			margin-left: auto;
			max-width: 465px;
		}
	}
	.table-container{
		.table-content{
			max-width: 465px;
		}
	}
	form.search.search-result{
		width: 350px;
		input{
			width: 350px;
		}
	}
}

@media only screen and(min-width:740px){
	.content{
		.viewport{
			max-width: 710px;
			.col-md-1{
				width: 33.3%;
			}
		}
	}
	.bread-container{
		.bread-box{
			margin-left: auto;
			max-width: 700px;
		}
	}
	.bread-count{
		width: auto;
	}
	.comand-container{
		.comandbar{
			max-width: 700px;
		}
	}
	.table-container{
		.table-content{
			max-width: 700px;
		}
	}
	.menu-ativo{
		//If user open toggle-menu in small resolution and upper resolution
		#toggle-menu{
			top: 0;
		}
	}
	#toggle-menu{
		display: inline-block;
		position: relative;
		left: 0;
		top: 0;
		width: auto;
		height: 80px;
		background: none;
		min-width:600px;
		ul{
			background: none;
		}
		li{
			width: auto;
			margin: 0 30px;
			border-bottom: none;
			&.inspbutton{
				display: block;
			}
			a{
				line-height: 125px;
				margin-top: 0;
			}
		}
	}
	header .user{
		right:20px;
	}
}

@media only screen and(min-width:600px){
	.detail{
		max-height: none;
		.info-back{
			height: 15cm;
		}
	}
	header{
		.top-header{
			.logo{
				margin: 10px;
			}
		}
	}
	.container{
		&.container-page{
			margin-top: 50px;
		}
	}
	.detail{
		.info-side{
			top: -542px;
			height: 542px;
		}
	}
	// #modal{
	// 	.modal-content{
	// 		// left:50%;
	// 		// margin-left:-260px;
	// 		// padding: 40px;
	// 	}
	// 	.modal-text{
	// 		width: 245px;
	// 	}
	// }
}

@media only screen and(min-width:945px){	
	.content{
		.viewport{
			max-width: 945px;
			.col-md-2{
				width: 25%;
			}
		}
	}
	.bread-container{
		.bread-box{
			margin-left: auto;
			max-width: 935px;
			left:-5px; // Fix
			.breadcrumb{
				height: 40px;
				li{
					line-height: 50px;
				}
			}
		}
	}
	.comand-container{
		.comandbar{
			max-width: 935px;
			left:-5px; // Fix
		}
	}
	.table-container{
		.table-content{
			max-width: 935px;
			left:-5px; // Fix
		}
	}
}

@media only screen and(min-width:1000px){
	.right-list{
		display: inline-block;
	}
	form.search.search-result{
		float: none;
		margin-left: 70px;
		width: 400px;
		input{
			width: 400px;
		}
	}	
}

@media only screen and(min-width:1200px){
	.content{
		.viewport{
			max-width: 1170px;
			.col-md-3{
				width: 20%;
			}
		}
	}
	/*.container{
		margin-top: 80px;
	}*/
	.comand-container{
		padding: 10px 0;
		.comandbar{
			display: block;
		}
	}
	.bread-container{
		.bread-box{
			margin-left: auto;
			max-width: 1160px;
			left:-5px; // Fix
		}	
	}
	.comand-container{
		.comandbar{
			max-width: 1160px;
			left:-5px; // Fix
		}
	}
	.table-container{
		.table-content{
			max-width: 1160px;
		}
	}
	//Detail large
	.detail{
		max-width: 1144px;
		.hidesmall{
			display: block;
		}
		.main-desc{
			display: none;
		}
		.info-back{
			height: 15cm;
		}
		.go_back{
			top: 20px;
		}
		.info-box{
			max-width: 910px;
			position: absolute;
			right: -520px;
			width: 910px;
			height: 15cm;
			background: #f8f4f1;
			button.close-bar{
				display: block;
			}
			.info-column{
				float:left;
				width:370px;
			}
			.info-list{
				position: relative;
				float: right;
				height: 100%;
				width: 40px;
				background-color: none;
				li{
					position: relative;
					float: left;
					height: 40px;
					width: auto;
					background-color: none;
					.icon-info{
						background-color: #f8f4f1;
					}
				}
			}
			.info-text{
				min-width: 310px;
				width: 310px;
				.info-text-holder{
					max-width: 310px;
					min-width: 310px;
				}
				&.info-text2{
					min-width: 350px;
					width: 350px;
					dl{
						overflow-y: scroll;
						height: 255px;
					}
				}
			}
		}
		.info-top{
			min-height:250px;
			background:#f8f4f1;
			border-bottom: 1px solid #ded9d3;
		}
		h6{
			font-size: 0.9em;
		}
		.info-side{
			position: relative;
			float: left;
			height: 97%;
			width: 488px;
			padding:10px 10px;	
			background-color: #4c4134;
			color: #FFF;
			text-align: center;
			top: 0;
			right: 0;
			h5{
				margin: 10px 0;
				font-size: 1.1em;
			}
			.color-list{
				height: 13cm;
			}
		}
	}
	.info-rapport{
		.view-rapport{
			width: 380px;
		}
	}
	.color-list{
		overflow: auto;	
		height: 13.2cm;
		li{
			margin: 7px;
			width: auto;
		}
	}
}

@media only screen and(min-width:1400px){
	.edit{
		overflow-x: hidden;
		body{
			overflow-x: hidden;
		}
		.holder{
			float: none;
			margin: 0 auto;
		}
	}
	.aside-edit{
		position: absolute;
		right: 0;
		top: 330px;
	}
}

@media only screen and(min-width:1440px){
	.container{
		.viewport{
			max-width: 1420px;
			.col-lg-1{
				width: 16.6%;
			}
		}
	}
	.bread-container{
		.bread-box{
			margin-left: auto;
			max-width: 1400px;
			left:-5px;
		}
	}
	.comand-container{
		.comandbar{
			max-width: 1400px;
			left:-5px;
		}
	}
	.table-container{
		.table-content{
			max-width: 1400px;
			left:-5px;
		}
	}
}
@media only screen and(min-width:1690px){
	.container{
		.viewport{
			max-width: 1670px;
			.col-lg-2{
				width: 14.2%;
			}
		}
	}
	.bread-container{
		.bread-box{
			margin-left: auto;
			max-width: 1650px;
		}
	}
	.comand-container{
		.comandbar{
			max-width: 1650px;
			right: 12px;
		}
	}
	.table-container{
		.table-content{
			max-width: 1650px;
			right: 12px;
		}
	}
	.bread-container{
		right: 12px;
	}
}
@media only screen and(min-height:700px){
	.content.content-detail{
		height: 540px;
	}
}
@media only screen and(min-height:750px){
	.content.content-detail{
		// height: 600px;
	}
}
@media only screen and(min-height:800px){
	.content{
		// height: 570px;
	}
	.content.content-detail{
		height: 650px;
	}
}

@media only screen and(min-height:900px){
	.content{
		// height: 670px;
	}
	.content.content-detail{
		height: 750px;
	}
}