.sprite{ background:url("../images/sprite.png") top left no-repeat; }
.menu-legend{ width:30px; height:30px; background-position:-10px -10px; }
.menu-settings{ width:30px; height:30px; background-position:-10px -50px; }
.insiders-edit_gray_big{ width:30px; height:30px; background-position:-10px -90px; }
.insiders-edit_blue_big{ width:30px; height:30px; background-position:-10px -130px; }
.item_select_big{ width:30px; height:30px; background-position:-10px -170px; }
.item_selected_big{ width:30px; height:30px; background-position:-10px -210px; }
.menu-logoff{ width:25px; height:30px; background-position:-10px -250px; }
.menu-send_receive{ width:40px; height:30px; background-position:-10px -290px; }
.actions-fav-big_selected{ width:30px; height:30px; background-position:-10px -330px; }
.actions-fav-big{ width:30px; height:30px; background-position:-10px -370px; }
.insiders-less{ width:30px; height:30px; background-position:-10px -410px; }
.item-edit_big{ width:30px; height:30px; background-position:-10px -450px; }
.actions-trash_blue{ width:25px; height:30px; background-position:-10px -490px; }
.actions-plus_blue{ width:30px; height:30px; background-position:-10px -530px; }
.actions_annex{ width:15px; height:25px; background-position:-10px -570px; }
.status-annex{ width:10px; height:25px; background-position:-35px -570px; }
.actions-export_hover{ width:25px; height:25px; background-position:-10px -605px; }
.actions-export{ width:25px; height:25px; background-position:-10px -640px; }
.x{ width:21px; height:22px; background-position:-10px -675px; }
.badx{ width:21px; height:22px; background-position:-10px -707px; }
.actions-sender_btn{ width:26px; height:20px; background-position:-10px -739px; }
.actions-sender_legend{ width:26px; height:20px; background-position:-10px -769px; }
.menu-send_receive_mini{ width:25px; height:20px; background-position:-10px -799px; }
.actions-edit-mini{ width:20px; height:20px; background-position:-10px -829px; }
.other_square_notdot{ width:20px; height:20px; background-position:-10px -859px; }
.other_notdot{ width:20px; height:20px; background-position:-10px -889px; }
.other_dot{ width:20px; height:20px; background-position:-10px -919px; }
.opt_images{ width:20px; height:20px; background-position:-10px -949px; }
.item-cleafilter{ width:19px; height:20px; background-position:-10px -979px; }
.item-heart_selected{ width:20px; height:20px; background-position:-10px -1009px; }
.status-warning{ width:20px; height:20px; background-position:-10px -1039px; }
.actions-edit{ width:20px; height:20px; background-position:-10px -1069px; }
.insiders-notepad{ width:20px; height:20px; background-position:-10px -1099px; }
.status_check{ width:20px; height:20px; background-position:-10px -1129px; }
.insiders-notepad_black{ width:20px; height:20px; background-position:-10px -1159px; }
.item-fisica_selected{ width:20px; height:20px; background-position:-10px -1189px; }
.item-fisica{ width:20px; height:20px; background-position:-10px -1219px; }
.item-homologado_selected{ width:20px; height:20px; background-position:-10px -1249px; }
.item-homologado{ width:20px; height:20px; background-position:-10px -1279px; }
.item-not_fav{ width:20px; height:20px; background-position:-10px -1309px; }
.item-fav{ width:20px; height:20px; background-position:-10px -1339px; }
.item-middle_fav{ width:20px; height:20px; background-position:-10px -1369px; }
.insiders-photo{ width:20px; height:20px; background-position:-10px -1399px; }
.insiders-camera{ width:25px; height:20px; background-position:-10px -1429px; }
.item-heart{ width:20px; height:20px; background-position:-10px -1459px; }
.opt_list{ width:20px; height:20px; background-position:-10px -1489px; }
.actions_sample{ width:20px; height:20px; background-position:-10px -1519px; }
.other_square_notdot_selected{ width:20px; height:20px; background-position:-10px -1549px; }
.actions-plus{ width:20px; height:20px; background-position:-10px -1579px; }
.actions-trash{ width:16px; height:19px; background-position:-10px -1609px; }
.actions_tag{ width:20px; height:17px; background-position:-10px -1638px; }
.hashtag{ width:16px; height:17px; background-position:-10px -1665px; }
.actions_save{ width:17px; height:17px; background-position:-10px -1692px; }
.white_x{ width:15px; height:16px; background-position:-10px -1719px; }
.open-down{ width:15px; height:16px; background-position:-35px -1719px; }
.item-email_black{ width:20px; height:15px; background-position:-10px -1745px; }
.actions-arrow_left_left{ width:15px; height:15px; background-position:-10px -1770px; }
.actions-arrow_right_right{ width:15px; height:15px; background-position:-35px -1770px; }
.item_select_small{ width:15px; height:15px; background-position:-10px -1795px; }
.item_selected_small{ width:15px; height:15px; background-position:-35px -1795px; }
.opt_ordering{ width:15px; height:15px; background-position:-10px -1820px; }
.item-email_disabled{ width:20px; height:15px; background-position:-10px -1845px; }
.item-email{ width:20px; height:15px; background-position:-10px -1870px; }
.insiders-edit_blue{ width:15px; height:15px; background-position:-35px -1820px; }
.actions_zoom{ width:15px; height:15px; background-position:-10px -1895px; }
.other-go_top{ width:15px; height:15px; background-position:-35px -1895px; }
.insiders-edit_gray{ width:15px; height:15px; background-position:-10px -1920px; }
.check{ width:14px; height:12px; background-position:-36px -1609px; }
.opt_search{ width:12px; height:12px; background-position:-36px -1665px; }
.other-arrow_right{ width:10px; height:10px; background-position:-40px -829px; }
.other-arrow_down{ width:10px; height:10px; background-position:-40px -859px; }

