.sprite{ background:url("../images/sprite.png") top left no-repeat; }
.contact30{ width:30px; height:30px; background-position:-10px -10px; }
.insiders-less{ width:30px; height:30px; background-position:-10px -50px; }
.menu-logoff{ width:25px; height:30px; background-position:-10px -90px; }
.insiders-edit_gray_big{ width:30px; height:30px; background-position:-10px -130px; }
.insiders-edit_blue_big{ width:30px; height:30px; background-position:-10px -170px; }
.item_select_big{ width:30px; height:30px; background-position:-10px -210px; }
.item_selected_big{ width:30px; height:30px; background-position:-10px -250px; }
.actions-plus_blue{ width:30px; height:30px; background-position:-10px -290px; }
.menu-send_receive{ width:40px; height:30px; background-position:-10px -330px; }
.actions-fav-big_selected{ width:30px; height:30px; background-position:-10px -370px; }
.actions-fav-big{ width:30px; height:30px; background-position:-10px -410px; }
.actions-trash_blue{ width:25px; height:30px; background-position:-10px -450px; }
.item-edit_big{ width:30px; height:30px; background-position:-10px -490px; }
.menu-legend{ width:30px; height:30px; background-position:-10px -530px; }
.menu-settings{ width:30px; height:30px; background-position:-10px -570px; }
.status-annex{ width:10px; height:25px; background-position:-10px -610px; }
.actions_annex{ width:15px; height:25px; background-position:-30px -610px; }
.actions-export{ width:25px; height:25px; background-position:-10px -645px; }
.actions-export_hover{ width:25px; height:25px; background-position:-10px -680px; }
.x{ width:21px; height:22px; background-position:-10px -715px; }
.badx{ width:21px; height:22px; background-position:-10px -747px; }
.other_maincontact{ width:20px; height:20px; background-position:-10px -779px; }
.insiders-camera{ width:25px; height:20px; background-position:-10px -809px; }
.item-cleafilter{ width:19px; height:20px; background-position:-10px -839px; }
.actions-plus{ width:20px; height:20px; background-position:-10px -869px; }
.item-middle_fav{ width:20px; height:20px; background-position:-10px -899px; }
.actions_sample{ width:20px; height:20px; background-position:-10px -929px; }
.other_square_notdot_selected{ width:20px; height:20px; background-position:-10px -959px; }
.actions-sender_btn{ width:26px; height:20px; background-position:-10px -989px; }
.actions-sender_legend{ width:26px; height:20px; background-position:-10px -1019px; }
.menu-send_receive_mini{ width:25px; height:20px; background-position:-10px -1049px; }
.actions-edit-mini{ width:20px; height:20px; background-position:-10px -1079px; }
.other_square_notdot{ width:20px; height:20px; background-position:-10px -1109px; }
.other_notdot{ width:20px; height:20px; background-position:-10px -1139px; }
.other_dot{ width:20px; height:20px; background-position:-10px -1169px; }
.status_check{ width:20px; height:20px; background-position:-10px -1199px; }
.opt_images{ width:20px; height:20px; background-position:-10px -1229px; }
.insiders-notepad_black{ width:20px; height:20px; background-position:-10px -1259px; }
.insiders-notepad{ width:20px; height:20px; background-position:-10px -1289px; }
.status-warning{ width:20px; height:20px; background-position:-10px -1319px; }
.opt_list{ width:20px; height:20px; background-position:-10px -1349px; }
.item-heart_selected{ width:20px; height:20px; background-position:-10px -1379px; }
.item-heart{ width:20px; height:20px; background-position:-10px -1409px; }
.item-fisica_selected{ width:20px; height:20px; background-position:-10px -1439px; }
.item-fisica{ width:20px; height:20px; background-position:-10px -1469px; }
.item-homologado_selected{ width:20px; height:20px; background-position:-10px -1499px; }
.item-homologado{ width:20px; height:20px; background-position:-10px -1529px; }
.item-not_fav{ width:20px; height:20px; background-position:-10px -1559px; }
.item-fav{ width:20px; height:20px; background-position:-10px -1589px; }
.actions-edit{ width:20px; height:20px; background-position:-10px -1619px; }
.insiders-photo{ width:20px; height:20px; background-position:-10px -1649px; }
.actions-trash{ width:16px; height:19px; background-position:-10px -1679px; }
.actions_tag{ width:20px; height:17px; background-position:-10px -1708px; }
.hashtag{ width:16px; height:17px; background-position:-10px -1735px; }
.actions_save{ width:17px; height:17px; background-position:-10px -1762px; }
.white_x{ width:15px; height:16px; background-position:-10px -1789px; }
.open-down{ width:15px; height:16px; background-position:-35px -1789px; }
.item-email_black{ width:20px; height:15px; background-position:-10px -1815px; }
.actions-arrow_right_right{ width:15px; height:15px; background-position:-10px -1840px; }
.opt_ordering{ width:15px; height:15px; background-position:-35px -1840px; }
.actions-arrow_left_left{ width:15px; height:15px; background-position:-10px -1865px; }
.item_select_small{ width:15px; height:15px; background-position:-35px -1865px; }
.item_selected_small{ width:15px; height:15px; background-position:-10px -1890px; }
.actions_zoom{ width:15px; height:15px; background-position:-35px -1890px; }
.item-email_disabled{ width:20px; height:15px; background-position:-10px -1915px; }
.item-email{ width:20px; height:15px; background-position:-10px -1940px; }
.insiders-edit_gray{ width:15px; height:15px; background-position:-10px -1965px; }
.other-go_top{ width:15px; height:15px; background-position:-35px -1965px; }
.insiders-edit_blue{ width:15px; height:15px; background-position:-10px -1990px; }
.opt_search{ width:12px; height:12px; background-position:-36px -1679px; }
.check{ width:14px; height:12px; background-position:-36px -1735px; }
.other-arrow_right{ width:10px; height:10px; background-position:-40px -779px; }
.other-arrow_down{ width:10px; height:10px; background-position:-39px -839px; }