@charset "utf-8";
@font-face {
    font-family: 'WashInfo';
    src: url('fonts/zyarial_0-webfont.eot');
    src: url('fonts/zyarial_0-webfont.eot?#iefix') format('embedded-opentype'),         
         url('fonts/zyarial_0-webfont.ttf') format('truetype'),
         url('fonts/zyarial_0-webfont.svg#focusfont_ipadregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*, *:before, *:after {
 	.box-sizing;
}
/*******************************
            GLOBAL
*******************************/

//Colors
@light-text:#f1f6fa; //Light-text, markups and editable fields 
@buttons:#71abcc; //buttons and menu's markup
@inative-itens:#555555; //Inative itens and dark background
@dark-text:#414141; //backgrounds and dark fonts
@warnings:#ff6527;

html, body{
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
	}
body{    
	font-family:'Open Sans', sans-serif;
	font-size: 12px;
	color:@dark-text;
	font-weight: 400;
	background:#fff;
	-khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
	// adjust text legibility
	// -webkit-text-size-adjust: none;
	// -webkit-font-smoothing: antialiased;
	// text-rendering: optimizeLegibility;	
	#wrap{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;		
	}

	&.noscroll{
		overflow-y: hidden;
	}
	/*.bread-text{
		display: none;
	}
	&.tecidos{
		.bread-text{
			float: right;
			display: block;
			line-height: 30px;
			margin-right: 0;
			width: 100%;
			text-align: center;
			display: none;
		}
	}	*/
}
/*.mask,.maskmenu{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	// background: url(../images/mask_load.png);
	//display: none;
	.loader{
		position:relative;
		margin: 0 auto;
		display: block;
		z-index:99;
		top: 48%;
	}
}*/
.holder{
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}
.sprite{ background:url("../images/sprite.png") top left no-repeat; }

/****************
*********************************		 HOME 				*******************/
.entrada{
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
	overflow: hidden;
	.entrada-container{
		width: 100%;
		height: 100%;
		position: relative;
		vertical-align: middle;
		text-align: center;
		display: table-cell;
		.entrada-banner{
			position: relative;
			margin: auto auto;
			width: 100%;
		}
	}
}

.login{
	position: relative;
	margin: auto auto;
	background: #fff;
	vertical-align: middle;
	display: block;
	text-align: center;
	width: 91%;
	padding: 1.5%;
	max-width: 378px;
	border: 1px solid #d1d5d8;
	height: auto;
	.toplogin{
		position: relative;
		width: 100%;
		height: 75px;
		margin-bottom: 20px;
		h1{
			position: relative;
			float: right;
			bottom: 0;
			line-height: 40px;
			font-weight: 700;
			font-size: 1.4em;
			margin-top: 10px;
		}
		.logobig{
			position: relative;
			margin: 0 auto;
			display: block;
		}
	}
	form{
		height: auto;
		float: none;
		.form-group{
			margin-bottom: 10px;
			//width: 99%;
		}
		label{
			display: inline-block;
			max-width: 100%;
			margin-bottom: 5px;
			font-weight: 700;
			float: left;
			font-size: 1.1em;
		}
		.form-control{
			float: none;
			height: 30px;
			line-height: 1.42857143;
			color: #07112c;
			text-align: center;
		}
		.button-container{
			position: relative;
			display: inline-block;
			width: 100%;
			height: auto;
			.enter{
				float: none;
				width: 140px;
				height: 30px;
				border: none;
				font-size: 1.1em;
				line-height: 27px;
				text-align: center;
				font-weight: 300;
				color: #fff;
				background: @buttons;
				border-radius: 50px;
				margin: 0 auto;
				&:hover{
					background: @dark-text;
				}
			}
			.warn{
				position: relative;
				float: left;
				width: 185px;
				color: #d64242;
				font-size: 1em;
				margin-bottom: 10px;
				line-height: 1.1em;
				text-align: left;
				display: none;
			}
		}
	}
}

/************************************
******************************************* PAGE
***********************************************************************/
header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height:auto;	
	.header-collum{
		position: relative;
		float: left;
		width: 100%;
	}
	.logo{
		.fleft;
		width:119px;
		height:40px;
		margin:10px 10px;
		outline: none;
	}
	.logo-print{
		display:none;
	}
}
.header-top{
	//border-top: 1px solid #323232;
	height: 70px;
	background:@dark-text;
	.login-name{
		position: relative;
		clear: none;
		display: block;
		width: auto;
		margin-right: 10px;
		font-size: 10pt;
		font-weight: 300;
		color: #fff;
		float: right;
		height: 50px;
		line-height: 50px;
		margin-top: 10px;
		span{
			background: url(../images/border-shadow.png) no-repeat;
			width: 15px;
			height: 50px;
			position: relative;
			float: left;
			margin: 0 10px 0 0;
		}
	}
	/*.user{
		position:absolute;
		bottom:10px;
		right:60px;
		color:#FFF;
		.login-name{
			.fleft;
			width:auto;
			margin-right:10px;
			font-size: 10pt;
			font-weight: 300;
		}
		.menu-logoff{
			&:after{
				width:25px; 
				height:30px; 
				background-position:-10px -90px; 
				content: "";
				display: block;
				.sprite;
				.fleft;
				.button;			
			}
		}
	}*/
}
.header-bottom{
	.nav-container{
		position: relative;
		float: left;
		width: 100%;
		height: 50px;
		background: @light-text;
		nav{
			height: auto;
			vertical-align: middle;
			margin: 0;
			padding: 0;
			overflow: hidden;
			list-style: none;
			z-index: 99;
			width: auto;
			position: relative;
			float: left;
			.nav-menu{
				height: 55px;
			}
		}
	}
	.nav-menu li{
		list-style: none;
		width: auto;
		height: 55px;
		display: inline-block;
		/* height: 60px; */
		position: relative;
		float: left;
		vertical-align: top;
		top: 0;
		margin: 0 10px;
		a{
			cursor: default;
			line-height: 110px;
			line-height: 15px;
			text-decoration: none;
			display: inline-block;
			vertical-align: middle;
			font-size: 1.1em;
			color: #000;
			height: 55px;
			width: 100%;
			padding:10px;
			border: 1px solid transparent;
			cursor: pointer;
			&.amostras{
				padding: 20px 10px;
			}
			/* background-color: red; */
			&.sel,&:hover{
				background: #6ea9ca;
				.gradient(@from: #71abcc, @to: #4082a7);
				border: 1px solid #457d9d;
				height: 55px;
				color: #fff;
				&:after{
					position: absolute;
					content: "";
					top: 50px;
					width: 4px;
					right: -4px;
					height: 5px;
					background: url(../images/nav-mask.png) no-repeat;
					background-position: center;
				}
			}
		}
	}
}

.container{
	.fleft;
	width:100%;
	height:auto;
	min-height:300px;
	top: 145px;
	margin-bottom: 0;
	// Shadow Top none in small resolutions
	/*box-shadow: none;
	margin-top: 50px;
	&.container-page{		
		.border(#C6C6C6);
		box-shadow: none;
		border-top: none;
	}	
	&.home{
		margin-top:50px;
		// min-width:900px;
	}*/
}
.menu{
	position: relative;
	float: right;
	li{
		  display: inline-block;
		  height: 70px;
		  position: relative;
		  float: left;
		  vertical-align: top;
		  top: 0;
		  a{
		  	  text-decoration: none;
			  display: inline-block;
			  vertical-align: middle;
			  font-size: 1em;
			  color: #fff;
			  height: 70px;
			  line-height: 105px;
			  margin-right: 20px;
			  //padding: 22px 15px 0;
			  //height: 50px;
			  &:after{
			  	content: "";
			  	display: block;
			  	position: relative;
			  	height: 30px;
			  	.sprite;
			  	bottom: 90px;
			  	left: 20px;
			  }
			  &.menu-legend{
			  	&:after{
					width:30px; background-position:-10px -130px;
					left: 10px;
			  	}
			  }
			  &.menu-settings{
			  	&:after{
					width:30px; background-position:-10px -10px;
			  	}
			  }
			  &.menu-send_receive{
			  	&:after{
					width:40px; background-position:-10px -50px;
			  	}
			  }
			  &.menu-logoff{
			  	&:after{
					width:30px; background-position:-10px -90px;
					right: 2px;
					left: 0;
			  	}
			  }
		  }
	}
}
/*****************************************
********************************************	HOME PAGE
***********************************************************************************************/
// Search Home
form.search{
	/*position: relative;
	display: block;
	margin: 0;
	padding: 0;
	max-width:400px;
	width: 95%;
	height:30px;
	margin:20px auto;
	::-webkit-input-placeholder,:-ms-input-placeholder,::-moz-placeholder {
	  color: #CCC;
	  font-size:11pt;
	}
	::-moz-placeholder {
		color: #CCC;
		opacity:  1;		
	}
	input{			
		.fleft;
		max-width:400px;
		width: 95%;
		height:30px;
		// color:#393737;
		font-weight: 300;
		font-size:12pt;
		text-indent: 6px;
		background: #F9F9F9;
		font-weight: 400;		
		.box-sizing;
		.border(#C6C6C6);
		//z-index:9;
		.radius(3px);
		&:focus{
			background: #FFF;
		}		
	}
	button{
		position:absolute;
		right:0;
		width:30px;
		height:30px;
		cursor:pointer;
		//z-index:10;
		.button;
		.transition;
		.radius(3px);
		.gradient-image(@startColor: #404040, @endColor: #000, url(../images/search-icon.png));
		&:hover{
			.gradient-image(@startColor: #111, @endColor: #000, url(../images/search-icon.png));
		}
	}
	&.search-result{
		display: inline-block;
		margin-top: 0;
		width: 230px;
		float: right;
		input{	
			width: 230px;
		}
	}*/
}

/*********************************
************************************	BREADBOX ***************************/
.bread-container{
	position: relative;
	width: 100%;
	height: 30px;
	border-top: 1px solid #eee;
	margin-top: 10px;
	//padding: 10px 0;
	.bread-box{
		position: relative;
		clear: none;
		display: block;
		margin: 0 auto;
		padding: 0;
		width: 100%;
		float: none;
		background: #fff;
		margin-left: 10px;
		.breadcrumb{
			display: inline-block;
			height: auto;
			float: left;
			overflow:hidden;
			li{
				position: relative;
				float: left;
				clear: none;
				display: inline-block;
				color: #393737;
				font-size: 1em;
				padding-right: 5px;
				line-height: 20px;
				&+li:before{
					padding-right: 5px;
					content: "|";
				}
				&.bread-artigo{
					display:none;
				}
				&.active{
					font-weight: 700;
					pointer-events: none;
				}
				a{
					position: relative;
					color: #393737;
					outline: none;
					z-index: 2;
					&.active{
						font-weight: 700;
						pointer-events: none;
					}
				}
			}
			// &.breadcrumb-default{
			// 	li{
			// 		&+li:before{
			// 			font-family: Arial;
			// 			padding-right: 10px;
			// 			color: #393737;
			// 			content: "|";
			// 		}
			// 	}
			// }
		}
	}
}
.bread-count{
	float: right;
	line-height: 10px;
		padding: 0;
	width: 100%;
	margin-top: 20px;
	span{
		font-weight: 400;
	}
}

/*********************************
************************************	MENU ***************************/
#toggle-menu{
	position: fixed;
	top: -91%;
	left: 0;
	z-index: 99;
	margin: 0;
	transition:top 0.5s ease-out;
	-webkit-transition:top 0.5s ease-out;
	background: url(../images/mask_load.png) repeat;
	width: 100%;
	height: auto;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	float: none;
	ul{
		background: #f7f7f7;
		position: relative;
		float: left;
		width: 100%;
		height: auto;
	}
	li{
		display: inline-block;
		height: 80px;
		position: relative;
		float: left;
		vertical-align: top;
		top: 0;
		width: 100%; //Mobile
		border-bottom: 1px solid #ccc;
		overflow: hidden;
		a{
			text-decoration: none;
			display: inline-block;
			vertical-align: middle;
			color: #fff; 
			height: 80px;
			//line-height: 60px;
			background: url(../images/sprite-menu.png) no-repeat;
			&.arl{
				width: 130px;
				background-position: 0 -80px;
			}
			&.i15{
				width: 150px;
				background-position: -130px -80px;
			}
			&.v1516{
				width: 240px;
				background-position: -280px -80px;
			}
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android see http://jsfiddle.net/KDtAX/487/*/
		    filter: gray; /* IE6-9 */
			.opacity(0.5);
			.grayscale;
			.transition();
		    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
			&:hover,&.sel{
				.opacity(1);				            
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);
				filter: gray;
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
			}
		}
	}
}
.menu-ativo{
	#toggle-menu{
		top: 50px;
	}
	.detail{
		z-index: -1;
	}
	.menu-svg{
		&.menu-fechar{
			margin-top: 20px;
			display: block;
		}
	}
	.maskmenu{
		display: block;
	}
}

/*********************************
************************************	COMAND BAR  ***************************/
.comand-container{
	/*position: relative;
	width: 100%;
	height: auto;
	min-height: 30px;
	padding: 10px 0;
	.comandbar{
		position: relative;
		width: 100%;
		max-width: 350px;
		height: 30px;
		margin:0 auto;
		background: none;
		text-align: center;		
	}*/
}

.right-list{
	/*position: relative;
	float: right;
	width: 190px;
	height: 30px;
	display: none;
	button{
		.fleft;				
		color: #636363;
		position: relative;
		width: 90px;
		height: 30px;
		border: 1px solid #d7d7d7;
		font-size: 1.1em;		
		text-indent:13px;
		text-align: left;		
		background:red;
		line-height: 27px;
		.gradient(@from: #fff, @to: #f4f4f4);
		&:after{
			.fleft;
			content: "";
			width: 15px;
			height: 15px;
			background: url(../images/sprite.png) no-repeat;
			background-position: 0 -15px;
			top: 7px;
			left: 7px;
		}
		&:hover, &.sel{
			border-color: #000;
			color: #fff;
			.gradient(@from: #1c1c1c, @to: #404040);
			&:after{
				background-position: -15px -15px;
			}
		}
		&.list{
			.fleft;
		}
		&.images{
			float: right;
			&:after{				
				background-position: 0 -30px;				
			}
			&:hover,&.sel{
				&:after{
					background-position: -15px -30px;
				}
			}
		}
	}*/
}

/*********************************
************************************	ITEM LIST ***************************/
.table-container{
	/*position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 80px;
	display:none;
	.table-content{
		position: relative;
		display: block;
		width: 100%;
		max-width: 350px;
		height: auto;
		margin: 0 auto;
		thead{
			background: #e9f2fb;
			border: 1px solid #e3e3e3;
			font-weight: 600;
			font-size: 10pt;
		}		
		tbody{
			tr{
				font-weight: 600;
				border-bottom: 1px solid #e3e3e3;
				// cursor:pointer;
				&:nth-child(even){
					background-color: #FFF;
				}
				&:nth-child(odd){
					background-color: #FCFCFC;
				}
				&:hover{
					background-color: #f4f9ff;
					// background-color: #212121;
					// color:#FFF;
				}
				td{
					padding:0;
					margin:0;
					left:0;
					text-indent:5px;
					// padding-left:5px;
					a{
						.fleft;
						width:100%;
						height:100%;
						color:#393737;
						text-decoration: none;
						outline: none;
					}
				}
				.tcode{
					width: 100px;
					text-indent: 6px;
				}
				.tlast{
					width: 50px;
				}
			}
		}
		.print{
			width: 40px;
			height: 30px;
			background-position: 0 -180px;
			top:9px;
			left: 27px;
		}
	}*/
}
// .children{
// 	display:block;
// 	.tpai{
// 		display: none;
// 	}
// }

// .pai{
// 	display:block;
// 	.tchildren{
// 		display: none;
// 	}
// }
/*********************************
************************************	CONTENT ***************************/

.content{
	position: relative;
	height: 100%;
	width: 95%;
	margin-bottom:50px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0 auto;
	//background: #c6c6c6;
	/*.viewport{
		position: relative;
		height: auto;
		padding-bottom: 80px;
		float: none;
		width: 100%;
		max-width: 475px;
		margin: 0 auto;
		.col{
			position: relative;
			float: left;
		}
	}*/
}

.container-filter{
	height: 30px;
	margin-bottom: 10px;
	.fake-form{
		position: relative;
		float: left;
		width: 190px;
		margin-right: 10px;
	}
	//background: blue;
}
.overview{
	//height: auto;
	height: 700px;
	padding-bottom: 80px;
	//background: green;
}
.aside-edit{
	//background-color: red;
	float: right;
	width: 200px;
	height: 100px;
}
/*********************************
************************************	TABLE ***************************/
.table{
	position: relative;
	float: left;
	width: 100%;
	height: 1000px;
	//background: red;
}

/*********************************
************************************	THUMBNAIL ***************************/
.thumbnail{
	.fleft;
	width: 150px;
	top: 10px;
	height: 230px;
	margin: 0 auto 10px;
	border: 1px solid #CAD0D6;
	// background-color: #FEFEFE;	
	background: #E6E6E6;
	overflow: hidden;	
	
	img{
		position: relative;
		float: left;
		vertical-align: middle;
		clear: none;
		display: block;
		width: 99%;
		height: auto;
		padding: 1px;
	}

	.caption{
		position: absolute;
		bottom: 0;
		// padding:10px;
		width:96%;
		// width: 150px;
		height:50px;
		font-weight: 600;
		color: #393737;
		// line-height: 18px;
		font-size: 12px;
		padding-left:4%;
		background: #E6E6E6;				
		// Codigo
		h2{
			.fleft;
			width:100%;
			font-weight: 700;
			font-size: 1.2em;
			line-height: 20px;			
		}
		// Artigo
		h3{
			.fleft;
			max-width:205px;
			width: 100%;
			font-size:10px;
			line-height: 13px;				
			margin-top:2px;			
		}
	}
	&.big{
		//height: 360px;
		height: 300px;
		.caption{
			height:120px;
			ul li, p{
				.fleft;
				line-height:18px;
			}
			// PE, ATC, Data
			ul{
				position:absolute;
				bottom:33px;
				width:100%;
				li.half{
					width:47%;
					&.right{
						float:right;
						// &:before{
						// 	content:"|"
						// }
					}					
				}
			}		
			// Preço
			span{
				position:absolute;
				bottom:0;
				left:0;
				padding-left:10px;
				width:100%;
				height:30px;
				line-height: 30px;
				background:#ececec;
			}
		}
	}
}
/*********************************
************************************	DETAIL ***************************/
.detail{
	position: relative;
	width: 98%;
	//max-width: 1144px;
	max-width: 20cm;
	margin: 0 auto;
	height: auto;
	min-height: 400px;
	overflow: hidden;
	background-color:#f8f4f1;
	margin-bottom: 10px;
	top: 5px;
	.hidesmall{
		display: none;
	}
	.go_back{
		position: absolute;
		width: 30px;
		height: 30px;
		top: 80px;
		left: 10px;
		font-size: 1.2em;
		border: none;
		text-align: left;
		background: #f8f4f0;
		cursor: pointer;
		&:after{
			content: "";
			position: absolute;
			display: block;
			width: 15px;
			height: 15px;
			background: url(../images/sprite.png) no-repeat;
			background-position: 0 -180px;
			top: 7px;
			right: 7px;
			padding: 0;
		}
		&:hover{
			background: #dad4ce;
		}
	}
	.info-back{
		float:left;
		width:100%;
		max-width: 20cm;
		height: 400px;
  		max-height: 15.5cm;
		img{
			float:left;
			width:auto;
			height:15cm;
		}
	}
	.main-desc{
		position: relative;
		float: left;
		width: 100%;
		background: #fff;
		height: auto;
		h4{
			font-size: 1.3em;
			margin: 10px 10px 0;
			font-weight: 700;
		}
		p{
			font-size: 1.2em;
			margin: 10px;
		}
	}
	.info-box{
		/*position:absolute;
		right:-520px;
		//right: 0;
		width:910px;
		height:15cm;
		background:#fff;*/
		position: relative;
		float: left;
		background: #f8f4f1;
		width: 100%;
		//max-width: 910px;
		max-width: 20cm;
		height: auto;
		min-height: 15cm; //Fixar em resolucoes maiores
		.info-list{
			position: relative;
			float: right;
			height: 40px; //Muda 100%
			width: 100%; //MUda 40px
			background: #fff;
			li{
				position: relative;
				float: left;
				height: 40px;
				width: 20%;
				background-color: #fff;
				/*&:hover{
					background-color: #dadada;
					.icon-info{
						background-color: #dadada;
					}
				}
				&.sel{
					background-color: #0d183d;
					.icon-info{
						background-color: #0d183d;
					}
				}*/
				.icon-info{
					margin: 0 auto;
					float: none;
					background-color: #fff;
				}
				.bcolor{
					background-position: -90px -30px;
					&:hover,&.sel,&.sel:hover{
						background-position: -50px -30px;
					}
				}	
				.brapport{
					background-position: -90px -70px;
					&:hover,&.sel,&.sel:hover{
						background-position: -50px -70px;
					}
				}
				.lavado{
					background-position: -90px -110px;
					&:hover,&.sel,&.sel:hover{
						background-position: -50px -110px;
					}
				}
				.ficha{
					background-position: -90px -150px;
					&:hover,&.sel,&.sel:hover{
						background-position: -50px -150px;
					}
				}	
				.view24h{
					background-position: -90px -190px;
					&:hover,&.sel,&.sel:hover{
						background-position: -50px -190px;
					}
				}
			}
		}
	}
	button.close-bar {
		float:left;
		width:20px;
		height:100%;
		background-color:#f8f4f1;
		outline:none;
		border: none;
		//Mudar
		display: none;
	}
	.info-top{
		//min-height:250px; Resolucoes grandes
		min-height: 210px;
		background:#f8f4f1;
	}
	.info-text{
		position: relative;
		float: left;
		//width: 290px;
		width: 100%;
		max-width: 450px;
		margin: 10px 0;
		.info-text-holder{
			position: relative;
			float: left;
			max-width: 450px;
			min-width: 450px;
		}
		&.info-text2{
			//width: 350px;
			margin-top: 0; //Apenas para pequenas
			dl{
				overflow-x: hidden;
				//overflow-y: scroll;
				//height: 250px;
				min-height: 200px;
				padding-top: 10px;
				width: 100%;
			}
		}
		h4{
			float:left;
			width:100%;
			line-height:20px;
			font-size: 1.5em;
			margin-bottom: 10px;
			padding-left: 10px;
		}
		dl{
			width:96%;
			font-size:8pt;
			line-height:13pt;
			font-weight: 400;
			padding-left: 10px;
		}
		dt{
			float:left;
			margin-right:10px;
			font-weight:700;
		}
		.wash{
			font-family:'WashInfo';
			font-size:24pt;
			letter-spacing:5px;
			clear:left;
			margin:20px 0 0;
			line-height: 40px;
		}
	}
	h6{
		/*position: absolute; 
		padding: 10px 0px 10px;
		width: 350px;
		font-size: 8pt;
		line-height: 11pt;*/
		position: relative;
		float: left;
		max-width: 450px;
		margin: 0px 1em; //10em em resolucoes maiores
		font-size: 1em;
		line-height: 1.3em;
		bottom: 5px;
	}
	.info-side{
		position: absolute;
		height: 14.2cm;
		width: 250px;
		padding: 10px 10px;
		background-color: #4c4134;
		color: #FFF;
		text-align: center;
		top:-14.8cm;
		right: -385px; //Nao tem em resolucoes maiores
		h5{
			margin: 10px 0;
			font-size: 1.1em;
		}
	}
}

/*********************************
************************************	COLOR-LIST DETAIL ***************************/
.color-list{
	overflow-y: auto;
  	height: 285px;
  	overflow-x: hidden;
	li{
		position: relative;
		float: left;
		list-style-type: none;
		margin: 1%;
		width: 31%;
		a{
			float: left;
			position: relative;
			img{
				float: left;
			}
		}
	}
	span{
		background: url(../images/leg.png);
		padding: 5px;
		width: 70px;
		position: absolute;
		font-size: 8pt;
		color: #FFF;
		left: 0px;
		bottom: 0;
	}
}

/*********************************
************************************	RAPPORT ***************************/
.info-rapport{
	.view-rapport{
		padding: 0;
		width: 100%;
		position: relative;
		height: auto;
		border: solid 1px #fff;
		margin: 0 auto;
		img{
			width: 100%;
			height: auto;
		}
	}
}


/*********************************
************************************	DEFAULT MODAL ***************************/
#modal{
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	width:100%;
	height:1000px;
	background:url("../images/mask_load.png");
	display: none;
	.modal-content{
		position: relative;
		margin: 0;
		padding: 0;
		width: 97%;
		max-width:380px;
		height:220px;
		z-index: 999;
		border: 1px solid #ccc;
		top: 200px;
		margin: 0 auto;
		.gradient(@from: #FFF, @to: #F9F9F9);
		.big-icon{
			position: relative;
			float: none;
			display: block;
			width: 100px;
			height: 90px;
			margin:40px auto 0;
			background:url(../images/modal-warning.png) no-repeat;		
		}
	}
	.modal-text{
		.fleft;
		color:#4d4d4d;
		top:10px;
		h2{
			.fleft;
			width:100%;
			text-align: center;
			font-size: 10pt;
			font-weight: 700;
			line-height: 17pt;
			text-transform: uppercase;
		}
		p{
			.fleft;
			width:100%;
			text-align: center;
			font-size: 10pt;
			line-height: 12pt;
		}
	}	
	.bclose{
		position:absolute; 
		right: -1px;
		top: -1px;
		padding: 0;
		margin: 0;
		width: 30px;
		height: 30px;
		background: #fff;
		// border-width: 0 0 1px 1px;
		// border-style: solid;		
		// border-color:#c4c4c4;
		.box-sizing;
		.border(#c4c4c4);		
		.radius(3px);
		.gradient(@from: #FFF, @to: #F4F4F4);
		&:after{
			position: absolute;
			display: block;
			width: 15px;
			height: 15px;
			right: 7px;
			top: 7px;
			background:url(../images/sprite.png);
			background-position: 0 -45px;
			content: "";
		}
		&:hover{
			.gradient(@from: #F6F6F6, @to: #EAEAEA);
		}
	}	
	// .bad{
	// 	h2{
	// 		color: #b21e1e;
	// 	}
	// 	.big-icon{background-color: #b21e1e; background-position: -135px -133px;} //-30px para confirm
	// 	.bclose,.bclose:hover{
	// 		cursor: pointer;
	// 		&:after{
	// 			background:url(../images/sprite.png);background-position: 0 -45px;display: block;position: absolute;right: 6px;top: 7px;width: 15px;height: 15px;content: "";
	// 		}
	// 	}
	// }
}

/***********************************
*********************************************			INTERAÇÃO ENTRE PÁGINAS ******************************/
.detail-page{
	.comand-container{

		padding: 0;
		.comandbar{
			display: none;
		}
	}
	.bread-container{
		margin-top:0;
		.bread-box{
			.breadcrumb{
				li{
					&.bread-artigo{
						display: none;
					}
				}
			}
		}
	}
	.go_back{
		position: absolute;
		top: 35px;
		left: 10px;
		display: block;
	}
	.viewport,.table-container,.bread-count{
		display: none;
	}
}
.filho{
	.detail{
		.info-box{
			.info-list{
				li{
					width: 16.6%;
					.bcolor{
						display: block;
					}
					.bsku{
						display: none;
					}
					&.lavado{
						display: block;
					}
					&.ficha{
						display: block;
					}
				}
			}
		}
	}
	.search.search-result{
		display: none;
	}
	.showpai{
		display: none;
	}
}
.pai{
	.detail{
		.info-box{
			.info-list{
				li{
					width: auto;
				}
			}
		}
		.showchildren{
			display: none;
		}
	}
}
#print-form{
	position: absolute;
	display:none;
	margin:0;
	padding:0;
	width:223px;
	height:100%;
	display:none;
	margin-top:10px;
  right:0;  
	img{
		.fleft;
		width: auto;
	  height: 283px;
	  margin-top:10px;
	  &:first-child{
	  	margin-top:0;
	  }
	}
	p{
		position:absolute;
		width:auto;
		font-weight: 600;
		font-size:8pt;
		margin-top:-6px;
		text-align: left;
	}
}
footer {
	display:none;
}

.edit{
	overflow-x: auto;
	body{
		overflow-x: auto;
	}
	.container{
		min-width: 1200px;
	}
	.holder{
		float: left;
		margin-left: 10px;
	}
}
@import url(import.less);