.sprite{ background:url("sprite.png") top left no-repeat; }
.menu-send_receive{ width:40px; height:30px; background-position:-10px -10px; }
.insiders-less{ width:30px; height:30px; background-position:-10px -50px; }
.menu-settings{ width:30px; height:30px; background-position:-10px -90px; }
.actions-fav-big_selected{ width:30px; height:30px; background-position:-10px -130px; }
.actions-fav-big{ width:30px; height:30px; background-position:-10px -170px; }
.actions-plus_blue{ width:30px; height:30px; background-position:-10px -210px; }
.actions-trash_blue{ width:25px; height:30px; background-position:-10px -250px; }
.item-edit_big{ width:30px; height:30px; background-position:-10px -290px; }
.menu-logoff{ width:25px; height:30px; background-position:-10px -330px; }
.menu-legend{ width:30px; height:30px; background-position:-10px -370px; }
.actions-export{ width:25px; height:25px; background-position:-10px -410px; }
.status-annex{ width:10px; height:25px; background-position:-10px -445px; }
.actions-export_hover{ width:25px; height:25px; background-position:-10px -480px; }
.actions_annex{ width:15px; height:25px; background-position:-30px -445px; }
.badx{ width:21px; height:22px; background-position:-10px -515px; }
.x{ width:21px; height:22px; background-position:-10px -547px; }
.menu-send_receive_mini{ width:25px; height:20px; background-position:-10px -579px; }
.actions-trash{ width:20px; height:20px; background-position:-10px -609px; }
.actions-plus{ width:20px; height:20px; background-position:-10px -639px; }
.item-middle_fav{ width:20px; height:20px; background-position:-10px -669px; }
.actions-edit{ width:20px; height:20px; background-position:-10px -699px; }
.status-warning{ width:20px; height:20px; background-position:-10px -729px; }
.actions_sample{ width:20px; height:20px; background-position:-10px -759px; }
.other_square_notdot_selected{ width:20px; height:20px; background-position:-10px -789px; }
.actions-sender_btn{ width:26px; height:20px; background-position:-10px -819px; }
.actions-sender_legend{ width:26px; height:20px; background-position:-10px -849px; }
.actions-edit-mini{ width:20px; height:20px; background-position:-10px -879px; }
.other_square_notdot{ width:20px; height:20px; background-position:-10px -909px; }
.other_notdot{ width:20px; height:20px; background-position:-10px -939px; }
.other_dot{ width:20px; height:20px; background-position:-10px -969px; }
.status_check{ width:20px; height:20px; background-position:-10px -999px; }
.insiders-notepad_black{ width:20px; height:20px; background-position:-10px -1029px; }
.insiders-notepad{ width:20px; height:20px; background-position:-10px -1059px; }
.insiders-camera{ width:25px; height:20px; background-position:-10px -1089px; }
.opt_list{ width:20px; height:20px; background-position:-10px -1119px; }
.opt_images{ width:20px; height:20px; background-position:-10px -1149px; }
.item-heart_selected{ width:20px; height:20px; background-position:-10px -1179px; }
.item-heart{ width:20px; height:20px; background-position:-10px -1209px; }
.item-fisica_selected{ width:20px; height:20px; background-position:-10px -1239px; }
.item-fisica{ width:20px; height:20px; background-position:-10px -1269px; }
.item-homologado_selected{ width:20px; height:20px; background-position:-10px -1299px; }
.item-homologado{ width:20px; height:20px; background-position:-10px -1329px; }
.item-not_fav{ width:20px; height:20px; background-position:-10px -1359px; }
.item-fav{ width:20px; height:20px; background-position:-10px -1389px; }
.insiders-photo{ width:20px; height:20px; background-position:-10px -1419px; }
.item-trash_black{ width:20px; height:20px; background-position:-10px -1449px; }
.actions_save{ width:17px; height:17px; background-position:-10px -1479px; }
.hashtag{ width:16px; height:17px; background-position:-10px -1506px; }
.actions_tag{ width:20px; height:17px; background-position:-10px -1533px; }
.white_x{ width:15px; height:16px; background-position:-10px -1560px; }
.open-down{ width:15px; height:16px; background-position:-35px -1560px; }
.actions-arrow_right_right{ width:15px; height:15px; background-position:-10px -1586px; }
.other-go_top{ width:15px; height:15px; background-position:-35px -1586px; }
.item-email_disabled{ width:20px; height:15px; background-position:-10px -1611px; }
.item-email{ width:20px; height:15px; background-position:-10px -1636px; }
.item_selected{ width:15px; height:15px; background-position:-10px -1661px; }
.insiders-edit_blue{ width:15px; height:15px; background-position:-35px -1661px; }
.insiders-edit_gray{ width:15px; height:15px; background-position:-10px -1686px; }
.opt_ordering{ width:15px; height:15px; background-position:-35px -1686px; }
.actions_zoom{ width:15px; height:15px; background-position:-10px -1711px; }
.item-email_black{ width:20px; height:15px; background-position:-10px -1736px; }
.actions-arrow_left_left{ width:15px; height:15px; background-position:-35px -1711px; }
.item_select{ width:15px; height:15px; background-position:-10px -1761px; }
.opt_search{ width:12px; height:12px; background-position:-37px -1479px; }
.check{ width:14px; height:12px; background-position:-36px -1506px; }
.other-arrow_down{ width:10px; height:10px; background-position:-40px -609px; }
.other-arrow_right{ width:10px; height:10px; background-position:-40px -639px; }

