<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
  <head>
    <title>WebFair - Home</title>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="author" content="Focus">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300" rel="stylesheet" type="text/css">
      <!-- build:css css/styles.min.css-->
      <link href="../css/reset.css" rel="stylesheet">
      <link href="../css/styles.css" rel="stylesheet">
      <!-- endbuild-->
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="icon" type="image/icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="/apple-touch-icon.png">
      <!--[if gte IE 9]<html class="ie9"><![endif]-->
      <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><html class="ie8"><![endif]-->
    </head>
  <body>
    <div id="wrap">
      <header>
        <div class="header-collum header-top">
          <a href="../index.html" class="logo"><img src="../images/logo_small.png" alt=""></a>
          <!--<div class="user">
            <a class="close menu-logoff" title="Sair">Sair</a>
            <h2 class="login-name">Nome do Usuário</h2>
          </div>
          </div>-->
          <h2 class="login-name"><span></span>Nome do Usuário</h2>
          <ul class="menu">
            <li class="menu-item">
              <a href="#legend" class="bmenu-legend tooltip tooltip-selectable">
                <span class="tooltip-item">Legendas</span>
                <ul class="tooltip-content legend col-large">
                  <li>
                    <p class="tooltip-item caption-icons-icon bemail">Enviar por e-mail</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bfisica nothas unable">Amostra Física</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bstatus incomplet">Completar Cadastro</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bfav nothas unable">Amostra Favorita</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bstatus complet">Cadastro completo</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bstar nothas">Fornecedor Favorito</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bedit_mini">Editar</p>
                  </li>
                  <li>
                    <p class="tooltip-item bselect">Selecionar</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bsend_receive">Enviar e Receber</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon btrash">Excluir</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bnote">Anotações</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bhomologado nothas unable">Homologar</p>
                  </li>
                  <li>
                    <p class="tooltip-item bannex-leg">Arquivo Anexo</p>
                  </li>
                  <li>
                    <p class="tooltip-item bannex-leg add">Anexar Arquivo</p>
                  </li>
                </ul>
              </a>
            </li>
            <li class="menu-item"><a href="../views/gestao.html" class="bmenu-settings">Configurações</a></li>
            <li class="menu-item"><a href="#send_receive" class="bmenu-send_receive">Enviar/Receber</a></li>
            <li class="menu-item"><a href="../login.html" class="bmenu-logoff">Sair</a></li>
          </ul>
        </div>
        <div class="header-collum header-bottom">
          <div class="nav-container">
            <nav>
              <ul class="nav-menu">
                <li><a href="Teste1">Gerar<br/>Relatório</a></li>
                <li><a href="../views/local.html">Local da<br/>Coleta</a></li>
                <li><a href="../views/fornecedor.html">Fornecedor<br/>e Contato</a></li>
                <li><a href="../index.html" class="amostras sel">Amostras</a></li>
                <li><a href="../views/template_email.html">Templates<br/>e-Mails</a></li>
              </ul>
            </nav>
          </div>
          <div class="config-menu">
            <ul>
              <li><a href="Teste1"></a></li>
              <li><a href="Teste2"></a></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="container">
        <!--19-->
        <div class="content">
          <div class="container-fullsize">
            <div class="container-fullsize-filter holder">
              <div class="form-container">
                <div class="fake-form m-ten">
                  <div class="form-group styled-select">
                    <select class="form-control bselect">
                      <option value="País">Local de Coleta: </option>
                      <option value="África do Sul">África do Sul</option>
                      <option value="Albânia">Albânia</option>
                      <option value="Alemanha">Alemanha</option>
                      <option value="Andorra">Andorra</option>
                      <option value="Angola">Angola</option>
                      <option value="Anguilla">Anguilla</option>
                      <option value="Antigua">Antigua</option>
                      <option value="Arábia Saudita">Arábia Saudita</option>
                      <option value="Argentina">Argentina</option>
                      <option value="Armênia">Armênia</option>
                      <option value="Aruba">Aruba</option>
                      <option value="Austrália">Austrália</option>
                      <option value="Áustria">Áustria</option>
                      <option value="Azerbaijão">Azerbaijão</option>
                      <option value="Bahamas">Bahamas</option>
                      <option value="Bahrein">Bahrein</option>
                      <option value="Bangladesh">Bangladesh</option>
                    </select>
                  </div>
                </div>
                <div class="fake-form m-ten">
                  <div class="form-group styled-select">
                    <select class="form-control bselect">
                      <option value="País">Fornecedor: </option>
                      <option value="África do Sul">África do Sul</option>
                      <option value="Albânia">Albânia</option>
                      <option value="Alemanha">Alemanha</option>
                      <option value="Andorra">Andorra</option>
                      <option value="Angola">Angola</option>
                      <option value="Anguilla">Anguilla</option>
                      <option value="Antigua">Antigua</option>
                      <option value="Arábia Saudita">Arábia Saudita</option>
                      <option value="Argentina">Argentina</option>
                      <option value="Armênia">Armênia</option>
                      <option value="Aruba">Aruba</option>
                      <option value="Austrália">Austrália</option>
                      <option value="Áustria">Áustria</option>
                      <option value="Azerbaijão">Azerbaijão</option>
                      <option value="Bahamas">Bahamas</option>
                      <option value="Bahrein">Bahrein</option>
                      <option value="Bangladesh">Bangladesh</option>
                    </select>
                  </div>
                </div>
                <div class="fake-form m-ten">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-search" name="login" placeholder="Busca por código ou nome da amostra" autofocus autocomplete="off">
                  </div>
                  <div class="fake-form-opt">
                    <button type="button" class="bdefault s-four m-ten export" alt="list">Exportar Excel</button>
                    <div class="tooltip tooltip-selectable borderby">
                      <button type="button" class="bdefault s-four m-ten borderby" alt="list">Ordenar</button>
                      <ul class="tooltip-content col-small">
                        <li>
                          <button type="button" class="tooltip-item caption-icons-icon bcircle">Código da Amostra</button>
                        </li>
                        <li>
                          <button type="button" class="tooltip-item caption-icons-icon bcircle">Fornecedor</button>
                        </li>
                        <li>
                          <button type="button" class="tooltip-item caption-icons-icon bcircle">Data / Hora</button>
                        </li>
                        <li>
                          <button type="button" class="tooltip-item caption-icons-icon bcircle">Preço Maior</button>
                        </li>
                        <li>
                          <button type="button" class="tooltip-item caption-icons-icon bcircle">Preço Menor</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <ul class="main_opt large">
                  <li class="main_opt_item"><button type="button"  class="main_opt_button">Data</button></li>
                  <li class="main_opt_item tooltip-filter">
                    <button type="button" class="main_opt_button">Filtrar</button><!--class="sel"-->
                    <ul class="tooltip-content status col-large">
                      <li>
                        <button type="button" class="tooltip-item">Enviar por e-mail</button>
                      </li>
                      <li>
                        <button type="button" class="tooltip-item">Enviar por e-mail</button>
                      </li>
                    </ul>
                  </li>
                  <li class="main_opt_item tooltip tooltip-selectable ">
                    <button type="button" class="main_opt_button">Faixa de Preços</button>
                    <div class="tooltip-content price col-largest">
                      <form class="form-inline">
                        <div class="form-group">
                          <label for="initial_price">Preço Inicial</label>
                          <input type="text" class="form-control" name="login" autocomplete="off">
                        </div>
                        <div class="form-group">
                          <label for="initial_price">Preço Final</label>
                          <input type="text" class="form-control" name="login" autocomplete="off">
                        </div>
                        <button type="button" class="icon s-five">Ok</button>
                      </form>
                    </div>
                  </li>
                  <li class="main_opt_item tooltip tooltip-selectable">
                    <button type="button" class="main_opt_button">Status</button>
                    <ul class="tooltip-content status col-large">
                      <li>
                        <button type="button" class="tooltip-item">Completar Cadastro</button>
                      </li>
                      <li>
                        <button type="button" class="tooltip-item">Cadastro Completo</button>
                      </li>
                    </ul>
                  </li>
                  <li class="main_opt_item tooltip-filter">
                    <button type="button" class="main_opt_button">Refinar Busca</button>
                    <div class="tooltip-content refine">
                      <div class="filter-area-collum filter-area-top">
                        <ul class="filter_list">
                          <li><a href="#TECIMENTO" role="1" ng-class="{off:selcount[1].isOff == true}" fb-opensublist="fb-opensublist" class="first unsel">Tecimento</a><span ng-show="selcount[1].show" class="topcount ng-binding ng-hide">0</span></li>
                          <li><a href="#BASE" role="2" ng-class="{off:selcount[2].isOff == true}" fb-opensublist="fb-opensublist" class="unsel">Base</a><span ng-show="selcount[2].count" class="topcount ng-binding ng-hide">0</span></li>
                          <li><a href="#GRUPO" role="3" ng-class="{off:selcount[3].isOff == true}" fb-opensublist="fb-opensublist" class="unsel">Grupo</a><span ng-show="selcount[3].count" class="topcount ng-binding ng-hide">0</span></li>
                          <li><a href="#SGRUPO" role="4" ng-class="{off:selcount[4].isOff == true}" fb-opensublist="fb-opensublist" class="unsel">SubGrupo</a><span ng-show="selcount[4].count" class="topcount ng-binding ng-hide">0</span>
                          </li>
                          <li><a href="#CMP" role="6" ng-class="{off:selcount[6].isOff == true}" fb-opensublist="fb-opensublist" class="unsel">Composição</a><span ng-show="selcount[6].count" class="topcount ng-binding ng-hide">0</span></li>
                          <li><a href="#limpar" ng-click="cancelFilter($event)" fb-opensublist="fb-opensublist" class="icon icon-button bcancel unsel">Limpar Filtros</a></li>
                        </ul>
                      </div>

                    </div>
                  </li>
                </ul>
              </div>
              <div class="right-list">
                <button type="button" class="bdefault right-list-item s-four m-ten bimages" alt="list">Imagens</button>
                <button type="button" class="bdefault right-list-item s-four m-ten blist" alt="list">Lista</button>
                <button type="button" class="bdefault right-list-item s-four m-ten bedit unable" alt="list">Editar Amostra</button>
                <ul class="main_opt mini">
                  <li class="main_opt_item first"><button type="button" class="main_opt_button">Selecionar</button></li>
                  <li class="main_opt_item"><button type="button" class="main_opt_button bemail"></button></li>
                  <li class="main_opt_item"><button type="button" class="main_opt_button btrash"></button></li>
                </ul>
              </div>
              <div class="filter-container">
                <div class="refine">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="floatThead wrapper">
            <div class="filter-crumb table-large">
              <p class="bread-search">Mostrando:<span class="spec">280 Amostras</span>
              </p>
              <p class="bread-count">4 Mostrando: <span class="spec show"><span class="spec all">XAOXING LOREM IPSUM</span>
              </p>
            </div>
            <table class="table table-striped table-large">
              <thead>
                  <tr>
                    <th></th><th>Fornecedor</th><th>Código</th><th>Data</th><th><button type="button" class="caption-icons-icon justit bfisica nothas unable"></button></th><th>Preço Inicial</th><th>M/kg</th><th><button type="button" class="caption-icons-icon justit bfav nothas unable"></button></th><th><button type="button" class="caption-icons-icon justit bhomologado nothas unable"></button></th><th><button type="button" class="caption-icons-icon justit bnote"></button></th><th><button type="button" class="icon bannex"></button></th><th><button type="button" class="caption-icons-icon justit bemail"></button></th><th>Tecimento</th><th>Base</th><th>Grupo</th><th>Sub-Grupo</th><th>Composição</th><th class="tlast">Status</th>
                  </tr>
              </thead>
              <tbody>
                <tr><td><a href="#00651587000107" class="icon bselection sel"></a></td><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfisica nothas"></button></td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfav has"></button></td><td><button type="button" class="caption-icons-icon justit bhomologado has"></button></td><td><button type="button" class="caption-icons-icon justit bnote"></button></td><td><button type="button" class="icon bannex"></button></td><td><button type="button" class="caption-icons-icon justit bemail"></button></td><td>CHINA</td><td>XAOXING</td><td>Grupo</td><td>Sub-Grupo</td><td>Composição</td><td><button type="button" class="caption-icons-icon justit bstatus incomplet"></button></td></tr>
                <tr><td><a href="#00651587000107" class="icon bselection"></a></td><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfisica nothas"></button></td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfav has"></button></td><td><button type="button" class="caption-icons-icon justit bhomologado nothas"></button></td><td><button type="button" class="caption-icons-icon justit bnote"></button></td><td><button type="button" class="icon bannex"></button></td><td><button type="button" class="caption-icons-icon justit bemail disabled"></button></td><td>CHINA</td><td>XAOXING</td><td>Grupo</td><td>Sub-Grupo</td><td>Composição</td><td><button type="button" class="caption-icons-icon justit bstatus complet"></button></td></tr>
                <tr><td><a href="#00651587000107" class="icon bselection sel"></a></td><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfisica has"></button></td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfav nothas"></button></td><td><button type="button" class="caption-icons-icon justit bhomologado nothas"></button></td><td></td><td><button type="button" class="icon bannex"></button></td><td><button type="button" class="caption-icons-icon justit bemail disabled"></button></td><td>CHINA</td><td>XAOXING</td><td>Grupo</td><td>Sub-Grupo</td><td>Composição</td><td><button type="button" class="caption-icons-icon justit bstatus complet"></button></td></tr>
                <tr><td><a href="#00651587000107" class="icon bselection"></a></td><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfisica nothas"></button></td><td>HEINTEXTIL</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfav has"></button></td><td><button type="button" class="caption-icons-icon justit bhomologado has"></button></td><td></td><td><button type="button" class="icon bannex"></button></td><td><button type="button" class="caption-icons-icon justit bemail"></button></td><td>CHINA</td><td>XAOXING</td><td>Grupo</td><td>Sub-Grupo</td><td>Composição</td><td><button type="button" class="caption-icons-icon justit bstatus incomplet"></button></td></tr>
                <tr><td><a href="#00651587000107" class="icon bselection"></a></td><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfisica has"></button></td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfav has"></button></td><td><button type="button" class="caption-icons-icon justit bhomologado nothas"></button></td><td><button type="button" class="caption-icons-icon justit bnote"></button></td><td></td><td><button type="button" class="caption-icons-icon justit bemail disabled"></button></td><td>CHINA</td><td>XAOXING</td><td>Grupo</td><td>Sub-Grupo</td><td>Composição</td><td><button type="button" class="caption-icons-icon justit bstatus complet"></button></td></tr>
              </tbody>
            </table>
            <div class="filter-crumb table-large">
              <p class="bread-search">Mostrando:<span class="spec">280 Amostras</span>
              </p>
              <p class="bread-count">4 Mostrando: <span class="spec show"><span class="spec all">XAOXING LOREM IPSUM</span>
              </p>
            </div>
            <table class="table table-striped table-large">
              <thead>
                  <tr>
                      <th></th><th>Fornecedor</th><th>Código</th><th>Data</th><th><button type="button" class="caption-icons-icon justit bfisica nothas"></button></th><th>Preço Inicial</th><th>M/kg</th><th><button type="button" class="caption-icons-icon justit bfav nothas"></button></th><th><button type="button" class="caption-icons-icon justit bhomologado nothas"></button></th><th><button type="button" class="caption-icons-icon justit bnote"></button></th><th><button type="button" class="icon bannex"></button></th><th><button type="button" class="caption-icons-icon justit bemail"></button></th><th>Tecimento</th><th>Base</th><th>Grupo</th><th>Sub-Grupo</th><th>Composição</th><th class="tlast">Status</th>
                  </tr>
              </thead>
              <tbody>
                <tr><td><a href="#00651587000107" class="icon bselection sel"></a></td><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfisica nothas"></button></td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfav has"></button></td><td><button type="button" class="caption-icons-icon justit bhomologado has"></button></td><td><button type="button" class="caption-icons-icon justit bnote"></button></td><td><button type="button" class="icon bannex"></button></td><td><button type="button" class="caption-icons-icon justit bemail"></button></td><td>CHINA</td><td>XAOXING</td><td>Grupo</td><td>Sub-Grupo</td><td>Composição</td><td><button type="button" class="caption-icons-icon justit bstatus incomplet"></button></td></tr>
                <tr><td><a href="#00651587000107" class="icon bselection"></a></td><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfisica nothas"></button></td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfav has"></button></td><td><button type="button" class="caption-icons-icon justit bhomologado nothas"></button></td><td><button type="button" class="caption-icons-icon justit bnote"></button></td><td><button type="button" class="icon bannex"></button></td><td><button type="button" class="caption-icons-icon justit bemail disabled"></button></td><td>CHINA</td><td>XAOXING</td><td>Grupo</td><td>Sub-Grupo</td><td>Composição</td><td><button type="button" class="caption-icons-icon justit bstatus complet"></button></td></tr>
                <tr><td><a href="#00651587000107" class="icon bselection sel"></a></td><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfisica has"></button></td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfav nothas"></button></td><td><button type="button" class="caption-icons-icon justit bhomologado nothas"></button></td><td></td><td><button type="button" class="icon bannex"></button></td><td><button type="button" class="caption-icons-icon justit bemail disabled"></button></td><td>CHINA</td><td>XAOXING</td><td>Grupo</td><td>Sub-Grupo</td><td>Composição</td><td><button type="button" class="caption-icons-icon justit bstatus complet"></button></td></tr>
                <tr><td><a href="#00651587000107" class="icon bselection"></a></td><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfisica nothas"></button></td><td>HEINTEXTIL</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfav has"></button></td><td><button type="button" class="caption-icons-icon justit bhomologado has"></button></td><td></td><td><button type="button" class="icon bannex"></button></td><td><button type="button" class="caption-icons-icon justit bemail"></button></td><td>CHINA</td><td>XAOXING</td><td>Grupo</td><td>Sub-Grupo</td><td>Composição</td><td><button type="button" class="caption-icons-icon justit bstatus incomplet"></button></td></tr>
                <tr><td><a href="#00651587000107" class="icon bselection"></a></td><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfisica has"></button></td><td>XAOXING</td><td>CHINA</td><td><button type="button" class="caption-icons-icon justit bfav has"></button></td><td><button type="button" class="caption-icons-icon justit bhomologado nothas"></button></td><td><button type="button" class="caption-icons-icon justit bnote"></button></td><td></td><td><button type="button" class="caption-icons-icon justit bemail disabled"></button></td><td>CHINA</td><td>XAOXING</td><td>Grupo</td><td>Sub-Grupo</td><td>Composição</td><td><button type="button" class="caption-icons-icon justit bstatus complet"></button></td></tr>
              </tbody>
            </table>
          </div>
        </div> 
      </div>
    </div>
    <script src="js/lib/jquery-1.10.1.min.js"></script>
    <script src="js/lib/spine/min.js"></script>
    <script src="js/lib/require-jquery.js" data-main="js/app"></script>
  </body>
</html>