.sprite{ background:url("../images/sprite.png") top left no-repeat; }
.actions-trash_blue{ width:25px; height:30px; background-position:-10px -10px; }
.actions-fav-big{ width:30px; height:30px; background-position:-10px -50px; }
.insiders-less{ width:30px; height:30px; background-position:-10px -90px; }
.item-edit_big{ width:30px; height:30px; background-position:-10px -130px; }
.actions-plus_blue{ width:30px; height:30px; background-position:-10px -170px; }
.menu-legend{ width:30px; height:30px; background-position:-10px -210px; }
.actions-fav-big_selected{ width:30px; height:30px; background-position:-10px -250px; }
.menu-logoff{ width:25px; height:30px; background-position:-10px -290px; }
.menu-settings{ width:30px; height:30px; background-position:-10px -330px; }
.menu-send_receive{ width:40px; height:30px; background-position:-10px -370px; }
.actions-export_hover{ width:25px; height:25px; background-position:-10px -410px; }
.status-annex{ width:9px; height:25px; background-position:-10px -445px; }
.actions_annex{ width:16px; height:25px; background-position:-29px -445px; }
.actions-export{ width:25px; height:25px; background-position:-10px -480px; }
.handle_onoff{ width:20px; height:21px; background-position:-10px -515px; }
.actions_tag{ width:20px; height:20px; background-position:-10px -546px; }
.item-trash_black{ width:20px; height:20px; background-position:-10px -576px; }
.actions-trash{ width:20px; height:20px; background-position:-10px -606px; }
.actions-plus{ width:20px; height:20px; background-position:-10px -636px; }
.actions-edit{ width:20px; height:20px; background-position:-10px -666px; }
.item-middle_fav{ width:20px; height:20px; background-position:-10px -696px; }
.other_square_notdot_selected{ width:20px; height:20px; background-position:-10px -726px; }
.badx{ width:20px; height:20px; background-position:-10px -756px; }
.x{ width:20px; height:20px; background-position:-10px -786px; }
.actions_sample{ width:20px; height:20px; background-position:-10px -816px; }
.menu-send_receive_mini{ width:25px; height:20px; background-position:-10px -846px; }
.actions-edit-mini{ width:20px; height:20px; background-position:-10px -876px; }
.other_square_notdot{ width:20px; height:20px; background-position:-10px -906px; }
.other_notdot{ width:20px; height:20px; background-position:-10px -936px; }
.other_dot{ width:20px; height:20px; background-position:-10px -966px; }
.status_check{ width:20px; height:20px; background-position:-10px -996px; }
.insiders-notepad_black{ width:20px; height:20px; background-position:-10px -1026px; }
.insiders-notepad{ width:20px; height:20px; background-position:-10px -1056px; }
.insiders-camera{ width:25px; height:20px; background-position:-10px -1086px; }
.status-warning{ width:20px; height:20px; background-position:-10px -1116px; }
.opt_list{ width:20px; height:20px; background-position:-10px -1146px; }
.opt_images{ width:20px; height:20px; background-position:-10px -1176px; }
.item-heart_selected{ width:20px; height:20px; background-position:-10px -1206px; }
.item-heart{ width:20px; height:20px; background-position:-10px -1236px; }
.item-fisica_selected{ width:20px; height:20px; background-position:-10px -1266px; }
.item-fisica{ width:20px; height:20px; background-position:-10px -1296px; }
.item-homologado_selected{ width:20px; height:20px; background-position:-10px -1326px; }
.item-homologado{ width:20px; height:20px; background-position:-10px -1356px; }
.item-not_fav{ width:20px; height:20px; background-position:-10px -1386px; }
.item-fav{ width:20px; height:20px; background-position:-10px -1416px; }
.insiders-photo{ width:20px; height:20px; background-position:-10px -1446px; }
.handle_off{ width:30px; height:18px; background-position:-10px -1476px; }
.handle_on{ width:30px; height:18px; background-position:-10px -1504px; }
.actions_save{ width:17px; height:17px; background-position:-10px -1532px; }
.hashtag{ width:16px; height:17px; background-position:-10px -1559px; }
.open-down{ width:15px; height:16px; background-position:-10px -1586px; }
.opt_ordering{ width:15px; height:15px; background-position:-35px -1586px; }
.item-email_disabled{ width:20px; height:15px; background-position:-10px -1612px; }
.item-email{ width:20px; height:15px; background-position:-10px -1637px; }
.actions-arrow_right_right{ width:15px; height:15px; background-position:-10px -1662px; }
.insiders-edit_blue{ width:15px; height:15px; background-position:-35px -1662px; }
.insiders-edit_gray{ width:15px; height:15px; background-position:-10px -1687px; }
.white_x{ width:15px; height:15px; background-position:-35px -1687px; }
.actions-arrow_left_left{ width:15px; height:15px; background-position:-10px -1712px; }
.item_selected{ width:15px; height:15px; background-position:-35px -1712px; }
.actions_zoom{ width:15px; height:15px; background-position:-10px -1737px; }
.item_select{ width:15px; height:15px; background-position:-35px -1737px; }
.other-go_top{ width:15px; height:15px; background-position:-10px -1762px; }
.opt_search{ width:12px; height:12px; background-position:-37px -1532px; }
.check{ width:16px; height:12px; background-position:-10px -1787px; }
.other-arrow_down{ width:10px; height:10px; background-position:-40px -515px; }
.other-arrow_right{ width:10px; height:10px; background-position:-40px -546px; }

