.sprite{ background:url("sprite.png") top left no-repeat; }
.principal_big{ width:25px; height:35px; background-position:-10px -10px; }
.menu-legend{ width:30px; height:30px; background-position:-10px -55px; }
.menu-logoff{ width:25px; height:30px; background-position:-10px -95px; }
.menu-send_receive{ width:40px; height:30px; background-position:-10px -135px; }
.menu-settings{ width:30px; height:30px; background-position:-10px -175px; }
.item-edit_big{ width:30px; height:30px; background-position:-10px -215px; }
.actions-fav-big{ width:30px; height:30px; background-position:-10px -255px; }
.actions-fav-big_selected{ width:30px; height:30px; background-position:-10px -295px; }
.insiders-less{ width:30px; height:30px; background-position:-10px -335px; }
.item_selected_big{ width:30px; height:30px; background-position:-10px -375px; }
.principal_selected{ width:30px; height:30px; background-position:-10px -415px; }
.principal{ width:30px; height:30px; background-position:-10px -455px; }
.contact30{ width:30px; height:30px; background-position:-10px -495px; }
.actions-plus_blue{ width:30px; height:30px; background-position:-10px -535px; }
.actions-trash_blue{ width:25px; height:30px; background-position:-10px -575px; }
.insiders-edit_gray_big{ width:30px; height:30px; background-position:-10px -615px; }
.insiders-edit_blue_big{ width:30px; height:30px; background-position:-10px -655px; }
.item_select_big{ width:30px; height:30px; background-position:-10px -695px; }
.actions-export_hover{ width:25px; height:25px; background-position:-10px -735px; }
.status-annex{ width:10px; height:25px; background-position:-10px -770px; }
.actions_annex{ width:15px; height:25px; background-position:-30px -770px; }
.actions-export{ width:25px; height:25px; background-position:-10px -805px; }
.badx{ width:21px; height:22px; background-position:-10px -840px; }
.x{ width:21px; height:22px; background-position:-10px -872px; }
.status-warning{ width:20px; height:20px; background-position:-10px -904px; }
.insiders-notepad{ width:20px; height:20px; background-position:-10px -934px; }
.opt_list{ width:20px; height:20px; background-position:-10px -964px; }
.opt_images{ width:20px; height:20px; background-position:-10px -994px; }
.insiders-notepad_black{ width:20px; height:20px; background-position:-10px -1024px; }
.item-heart_selected{ width:20px; height:20px; background-position:-10px -1054px; }
.item-heart{ width:20px; height:20px; background-position:-10px -1084px; }
.item-fisica_selected{ width:20px; height:20px; background-position:-10px -1114px; }
.item-fisica{ width:20px; height:20px; background-position:-10px -1144px; }
.item-homologado_selected{ width:20px; height:20px; background-position:-10px -1174px; }
.item-homologado{ width:20px; height:20px; background-position:-10px -1204px; }
.item-not_fav{ width:20px; height:20px; background-position:-10px -1234px; }
.item-fav{ width:20px; height:20px; background-position:-10px -1264px; }
.insiders-photo{ width:20px; height:20px; background-position:-10px -1294px; }
.insiders-camera{ width:25px; height:20px; background-position:-10px -1324px; }
.actions-plus{ width:20px; height:20px; background-position:-10px -1354px; }
.actions-edit{ width:20px; height:20px; background-position:-10px -1384px; }
.rotate{ width:20px; height:20px; background-position:-10px -1414px; }
.other_maincontact{ width:20px; height:20px; background-position:-10px -1444px; }
.item-cleafilter{ width:19px; height:20px; background-position:-10px -1474px; }
.item-middle_fav{ width:20px; height:20px; background-position:-10px -1504px; }
.actions_sample{ width:20px; height:20px; background-position:-10px -1534px; }
.other_square_notdot_selected{ width:20px; height:20px; background-position:-10px -1564px; }
.actions-sender_btn{ width:26px; height:20px; background-position:-10px -1594px; }
.actions-sender_legend{ width:26px; height:20px; background-position:-10px -1624px; }
.menu-send_receive_mini{ width:25px; height:20px; background-position:-10px -1654px; }
.actions-edit-mini{ width:20px; height:20px; background-position:-10px -1684px; }
.other_square_notdot{ width:20px; height:20px; background-position:-10px -1714px; }
.other_notdot{ width:20px; height:20px; background-position:-10px -1744px; }
.other_dot{ width:20px; height:20px; background-position:-10px -1774px; }
.status_check{ width:20px; height:20px; background-position:-10px -1804px; }
.actions-trash{ width:16px; height:19px; background-position:-10px -1834px; }
.actions_tag{ width:20px; height:17px; background-position:-10px -1863px; }
.hashtag{ width:16px; height:17px; background-position:-10px -1890px; }
.actions_save{ width:17px; height:17px; background-position:-10px -1917px; }
.white_x{ width:15px; height:16px; background-position:-10px -1944px; }
.open-down{ width:15px; height:16px; background-position:-35px -1944px; }
.item-email_black{ width:20px; height:15px; background-position:-10px -1970px; }
.actions-arrow_left_left{ width:15px; height:15px; background-position:-10px -1995px; }
.insiders-edit_gray{ width:15px; height:15px; background-position:-35px -1995px; }
.insiders-edit_blue{ width:15px; height:15px; background-position:-10px -2020px; }
.item-email{ width:20px; height:15px; background-position:-10px -2045px; }
.item-email_disabled{ width:20px; height:15px; background-position:-10px -2070px; }
.actions-arrow_right_right{ width:15px; height:15px; background-position:-35px -2020px; }
.item_select_small{ width:15px; height:15px; background-position:-10px -2095px; }
.opt_ordering{ width:15px; height:15px; background-position:-35px -2095px; }
.item_selected_small{ width:15px; height:15px; background-position:-10px -2120px; }
.actions_zoom{ width:15px; height:15px; background-position:-35px -2120px; }
.other-go_top{ width:15px; height:15px; background-position:-10px -2145px; }
.check{ width:14px; height:12px; background-position:-36px -1834px; }
.opt_search{ width:12px; height:12px; background-position:-36px -1890px; }
.other-arrow_right{ width:10px; height:10px; background-position:-40px -904px; }
.other-arrow_down{ width:10px; height:10px; background-position:-40px -934px; }
