.sprite{ background:url("sprite.png") top left no-repeat; }
.actions-fav-big{ width:30px; height:30px; background-position:-10px -10px; }
.item-edit_big{ width:30px; height:30px; background-position:-10px -50px; }
.menu-send_receive{ width:40px; height:30px; background-position:-10px -90px; }
.menu-logoff{ width:25px; height:30px; background-position:-10px -130px; }
.insiders-less{ width:30px; height:30px; background-position:-10px -170px; }
.menu-settings{ width:30px; height:30px; background-position:-10px -210px; }
.menu-legend{ width:30px; height:30px; background-position:-10px -250px; }
.actions-plus_blue{ width:30px; height:30px; background-position:-10px -290px; }
.actions-trash_blue{ width:25px; height:30px; background-position:-10px -330px; }
.actions-export_hover{ width:25px; height:25px; background-position:-10px -370px; }
.actions_annex{ width:15px; height:25px; background-position:-10px -405px; }
.status-annex{ width:10px; height:25px; background-position:-35px -405px; }
.actions-export{ width:25px; height:25px; background-position:-10px -440px; }
.menu-send_receive_mini{ width:25px; height:20px; background-position:-10px -475px; }
.actions-edit-mini{ width:20px; height:20px; background-position:-10px -505px; }
.other_square_notdot{ width:20px; height:20px; background-position:-10px -535px; }
.other_notdot{ width:20px; height:20px; background-position:-10px -565px; }
.other_dot{ width:20px; height:20px; background-position:-10px -595px; }
.status_check{ width:20px; height:20px; background-position:-10px -625px; }
.actions-plus{ width:20px; height:20px; background-position:-10px -655px; }
.actions-edit{ width:20px; height:20px; background-position:-10px -685px; }
.insiders-notepad_black{ width:20px; height:20px; background-position:-10px -715px; }
.insiders-notepad{ width:20px; height:20px; background-position:-10px -745px; }
.status-warning{ width:20px; height:20px; background-position:-10px -775px; }
.opt_list{ width:20px; height:20px; background-position:-10px -805px; }
.opt_images{ width:20px; height:20px; background-position:-10px -835px; }
.item-fisica{ width:20px; height:20px; background-position:-10px -865px; }
.item-heart_selected{ width:20px; height:20px; background-position:-10px -895px; }
.item-heart{ width:20px; height:20px; background-position:-10px -925px; }
.item-fisica_selected{ width:20px; height:20px; background-position:-10px -955px; }
.item-homologado_selected{ width:20px; height:20px; background-position:-10px -985px; }
.item-homologado{ width:20px; height:20px; background-position:-10px -1015px; }
.item-not_fav{ width:20px; height:20px; background-position:-10px -1045px; }
.item-fav{ width:20px; height:20px; background-position:-10px -1075px; }
.insiders-photo{ width:20px; height:20px; background-position:-10px -1105px; }
.insiders-camera{ width:25px; height:20px; background-position:-10px -1135px; }
.item-trash_black{ width:20px; height:20px; background-position:-10px -1165px; }
.actions-trash{ width:20px; height:20px; background-position:-10px -1195px; }
.item_selected{ width:15px; height:15px; background-position:-10px -1225px; }
.item_select{ width:15px; height:15px; background-position:-35px -1225px; }
.insiders-edit_blue{ width:15px; height:15px; background-position:-10px -1250px; }
.insiders-edit_gray{ width:15px; height:15px; background-position:-35px -1250px; }
.other-go_top{ width:15px; height:15px; background-position:-10px -1275px; }
.opt_ordering{ width:15px; height:15px; background-position:-35px -1275px; }
.item-email_disabled{ width:20px; height:15px; background-position:-10px -1300px; }
.actions_zoom{ width:15px; height:15px; background-position:-10px -1325px; }
.actions-arrow_left_left{ width:15px; height:15px; background-position:-35px -1325px; }
.actions-arrow_right_right{ width:15px; height:15px; background-position:-10px -1350px; }
.item-email{ width:20px; height:15px; background-position:-10px -1375px; }
.opt_search{ width:12px; height:12px; background-position:-35px -1350px; }
.other-arrow_right{ width:10px; height:10px; background-position:-40px -505px; }
.other-arrow_down{ width:10px; height:10px; background-position:-40px -535px; }

