.sprite{ background:url("sprite.png") top left no-repeat; }
.item-edit_big{ width:30px; height:30px; background-position:-10px -10px; }
.menu-send_receive{ width:40px; height:30px; background-position:-10px -50px; }
.menu-logoff{ width:25px; height:30px; background-position:-10px -90px; }
.insiders-less{ width:30px; height:30px; background-position:-10px -130px; }
.menu-settings{ width:30px; height:30px; background-position:-10px -170px; }
.actions-plus_blue{ width:30px; height:30px; background-position:-10px -210px; }
.actions-trash_blue{ width:25px; height:30px; background-position:-10px -250px; }
.menu-legend{ width:30px; height:30px; background-position:-10px -290px; }
.actions_annex{ width:15px; height:25px; background-position:-10px -330px; }
.actions-export_hover{ width:25px; height:25px; background-position:-10px -365px; }
.status-annex{ width:10px; height:25px; background-position:-35px -330px; }
.actions-export{ width:25px; height:25px; background-position:-10px -400px; }
.actions-edit-mini{ width:20px; height:20px; background-position:-10px -435px; }
.other_square_notdot{ width:20px; height:20px; background-position:-10px -465px; }
.other_notdot{ width:20px; height:20px; background-position:-10px -495px; }
.other_dot{ width:20px; height:20px; background-position:-10px -525px; }
.actions-plus{ width:20px; height:20px; background-position:-10px -555px; }
.menu-send_receive_mini{ width:25px; height:20px; background-position:-10px -585px; }
.actions-edit{ width:20px; height:20px; background-position:-10px -615px; }
.status_check{ width:20px; height:20px; background-position:-10px -645px; }
.insiders-notepad_black{ width:20px; height:20px; background-position:-10px -675px; }
.insiders-notepad{ width:20px; height:20px; background-position:-10px -705px; }
.status-warning{ width:20px; height:20px; background-position:-10px -735px; }
.opt_list{ width:20px; height:20px; background-position:-10px -765px; }
.opt_images{ width:20px; height:20px; background-position:-10px -795px; }
.item-fisica{ width:20px; height:20px; background-position:-10px -825px; }
.item-heart_selected{ width:20px; height:20px; background-position:-10px -855px; }
.item-heart{ width:20px; height:20px; background-position:-10px -885px; }
.item-fisica_selected{ width:20px; height:20px; background-position:-10px -915px; }
.item-homologado_selected{ width:20px; height:20px; background-position:-10px -945px; }
.item-homologado{ width:20px; height:20px; background-position:-10px -975px; }
.item-not_fav{ width:20px; height:20px; background-position:-10px -1005px; }
.item-fav{ width:20px; height:20px; background-position:-10px -1035px; }
.insiders-photo{ width:20px; height:20px; background-position:-10px -1065px; }
.insiders-camera{ width:25px; height:20px; background-position:-10px -1095px; }
.item-trash_black{ width:20px; height:20px; background-position:-10px -1125px; }
.actions-trash{ width:20px; height:20px; background-position:-10px -1155px; }
.actions_zoom{ width:15px; height:15px; background-position:-10px -1185px; }
.item_selected{ width:15px; height:15px; background-position:-35px -1185px; }
.insiders-edit_blue{ width:15px; height:15px; background-position:-10px -1210px; }
.insiders-edit_gray{ width:15px; height:15px; background-position:-35px -1210px; }
.other-go_top{ width:15px; height:15px; background-position:-10px -1235px; }
.opt_ordering{ width:15px; height:15px; background-position:-35px -1235px; }
.item-email_disabled{ width:20px; height:15px; background-position:-10px -1260px; }
.actions-arrow_left_left{ width:15px; height:15px; background-position:-10px -1285px; }
.actions-arrow_right_right{ width:15px; height:15px; background-position:-35px -1285px; }
.item_select{ width:15px; height:15px; background-position:-10px -1310px; }
.item-email{ width:20px; height:15px; background-position:-10px -1335px; }
.opt_search{ width:12px; height:12px; background-position:-35px -1310px; }
.other-arrow_right{ width:10px; height:10px; background-position:-40px -435px; }
.other-arrow_down{ width:10px; height:10px; background-position:-40px -465px; }

