.add_forn{
	.right-list.supplier-page{
		display: none;
	}
}

.supplier-form-container{
	.row{
		&.row-fixed{
			width: 48%;
			margin:0 1% 10px;
		}
		&.row-complet{
			margin: 0 0 10px;
			width: 100%;
		}
	}
}