<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
  <head>
    <title>WebFair - Home</title>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="author" content="Focus">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300" rel="stylesheet" type="text/css">
      <!-- build:css css/styles.min.css-->
      <link href="../css/reset.css" rel="stylesheet">
      <link href="../css/styles.css" rel="stylesheet">
      <!-- endbuild-->
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="icon" type="image/icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="/apple-touch-icon.png">
      <!--[if gte IE 9]<html class="ie9"><![endif]-->
      <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><html class="ie8"><![endif]-->
    </head>
  <body>
    <div id="wrap">
      <header class="goDown">
        <div class="header-collum header-top">
          <a href="../index.html" class="logo"><img src="../images/logo_small.png" alt=""></a>
          <!--<div class="user">
            <a class="close menu-logoff" title="Sair">Sair</a>
            <h2 class="login-name">Nome do Usuário</h2>
          </div>
          </div>-->
          <h2 class="login-name"><span></span>Nome do Usuário</h2>
          <ul class="menu">
            <li class="menu-item">
              <a href="#legend" class="bmenu-legend tooltip tooltip-selectable">
                <span class="tooltip-item">Legendas</span>
                <ul class="tooltip-content legend col-large">
                  <li>
                    <p class="tooltip-item caption-icons-icon bemail">Enviar por e-mail</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bfisica nothas unable">Amostra Física</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bstatus incomplet">Completar Cadastro</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bfav nothas unable">Amostra Favorita</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bstatus complet">Cadastro completo</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bstar nothas">Fornecedor Favorito</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bedit_mini">Editar</p>
                  </li>
                  <li>
                    <p class="tooltip-item bselect">Selecionar</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bsend_receive">Enviar e Receber</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon btrash">Excluir</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bnote">Anotações</p>
                  </li>
                  <li>
                    <p class="tooltip-item caption-icons-icon bhomologado nothas unable">Homologar</p>
                  </li>
                  <li>
                    <p class="tooltip-item bannex-leg">Arquivo Anexo</p>
                  </li>
                  <li>
                    <p class="tooltip-item bannex-leg add">Anexar Arquivo</p>
                  </li>
                </ul>
              </a>
            </li>
            <li class="menu-item"><a href="../views/gestao.html" class="bmenu-settings">Configurações</a></li>
            <li class="menu-item"><a href="#send_receive" class="bmenu-send_receive">Enviar/Receber</a></li>
            <li class="menu-item"><a href="../login.html" class="bmenu-logoff">Sair</a></li>
          </ul>
        </div>
        <div class="header-collum header-bottom">
          <div class="nav-container">
            <nav>
              <ul class="nav-menu">
                <li><a href="Teste1">Gerar<br/>Relatório</a></li>
                <li><a href="../views/local.html">Local da<br/>Coleta</a></li>
                <li><a href="../views/fornecedor.html">Fornecedor<br/>e Contato</a></li>
                <li><a href="../index.html" class="amostras">Amostras</a></li>
                <li><a href="../views/template_email.html" class="sel">Templates<br/>e-Mails</a></li>
              </ul>
            </nav>
          </div>
          <div class="config-menu">
            <ul>
              <li><a href="Teste1"></a></li>
              <li><a href="Teste2"></a></li>
            </ul>
          </div>

        </div>
      </header>
      <div class="container">
        <!--18-->
        <div class="content">
          <div class="container-fullsize">
            <div class="detail holder">
              <div class="detail-status container-fullsize">
                <p class="caption-icons-icon bstatus incomplet">
                  Completar Cadastro
                </p>
              </div>
              <div class="detail-buttons container-fullsize">
                <div class="detail-sample floatLeft">
                  <p class="title container-fullsize">
                    Amostra
                  </p>
                  <div class="detail-sample-container">
                    <div class="sample-buttons">
                      <ul>
                        <li class="first">
                          <button type="button" class="bsample">Amostra</button></li>
                        <li>
                          <button type="button" class="btag">Etiqueta</button>
                        </li>
                      </ul>
                    </div>
                    <div class="stripe"></div>
                    <button class="icon bzoom"></button>
                    <img id="zoom_05" src="//bdb/ifair_img/4200073/8/2015/3/samples/large/127004318.png" data-zoom-image="//bdb/ifair_img/4200073/8/2015/3/samples/large/127004318.png"/>
                  </div>
                </div>
                <div class="detail-description floatRight">
                  <div class="container-fullsize">
                    <button type="button" class="icon bgoselect s-eight floatLeft">Voltar para Seleção</button>
                    <button type="button" class="icon bnext s-one floatRight neat">Próximo</button>
                  </div>
                  <div class="detail-description-container">
                    <div class="description-overview description-top">
                      <ul>
                        <li class="first"><a href="#fav" class="caption-icons-icon bfav nothas">Favorita</a></li>
                        <li><a href="#fav" class="caption-icons-icon oneline bfisica nothas">Amostra<br/>Fisica</a></li>
                        <li><a href="#fav" class="caption-icons-icon bhomologado nothas">Homologar</a></li>
                        <li><a href="#fav" class="caption-icons-icon oneline bfisica nothas">Anexar<br/> Arquivo</a></li>
                        <li><a href="#fav" class="caption-icons-icon oneline bfisica nothas">Arquivos<br/> Anexos</a></li>
                      </ul>
                      <div class="col first">
                        <dl>
                          <dt>Código Amostra:</dt>
                            <dd>Black hot drink 10</dd>
                          <dt>Feira:</dt>
                            <dd>White cold drink</dd>
                          <dt>Fornecedor:</dt>
                            <dd>White cold drink</dd>
                        </dl>
                      </div>
                      <div class="col">
                        <dl>
                          <dt>Código Amostra:</dt>
                            <dd>Black hot drink 10</dd>
                          <dt>Feira:</dt>
                            <dd>White cold drink</dd>
                          <dt>Fornecedor:</dt>
                            <dd>White cold drink</dd>
                        </dl>
                      </div>
                      <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tecimento</th><th>Base</th><th>Grupo</th><th>Subgrupo</th><th>Composição</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr><td>Plano</td><td>Tinto</td><td>Transparência</td><td>Creponados</td><td>Poliester<br/>Poliester<br/>Poliester<br/>Algodão</td></tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="description-overview description-entirely">
                      <form action="">
                        <div class="col">
                          <div class="form-group m-ten">
                            <label for="exampleInputName2">Largura Total:</label>
                            <input type="text" class="form-control floatRight">
                          </div>
                          <div class="form-group m-ten">
                            <label for="exampleInputName2">Largura Total:</label>
                            <input type="text" class="form-control floatRight">
                          </div>
                          <div class="form-group m-ten">
                            <label for="exampleInputName2">Largura Total:</label>
                            <input type="text" class="form-control floatRight">
                          </div>
                          <div class="form-group m-ten">
                            <label for="exampleInputName2">Largura Total:</label>
                            <input type="text" class="form-control floatRight">
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group m-ten">
                            <label for="exampleInputName2">Largura Total:</label>
                            <input type="text" class="form-control floatRight">
                          </div>
                          <div class="form-group m-ten">
                            <label for="exampleInputName2">Largura Total:</label>
                            <input type="text" class="form-control floatRight">
                          </div>
                          <div class="form-group m-ten">
                            <label for="exampleInputName2">Largura Total:</label>
                            <input type="text" class="form-control floatRight">
                          </div>
                          <button class="icon floatRight s-eight-five">Salvar</button>
                        </div>
                      </form>
                    </div>
                    <div class="description-overview description-noteside">
                      <div class="supplier-form-container">
                        <h2>Anotações<button type="button" class="icon floatLeft bplus-big"></button></h2>
                      </div>
                      <div class="supplier-form-container note contact actived">
                        <ul class="notepad supplier-note-side">
                          <li>
                            <article>
                              <div class="notepad-note blockquote">
                                <p>12/03/2015 | xaou xing | 890938746</p>
                                <p class="title">Usuário - Assunto:</p>
                                <p>Lorem ipsum consecteturdolor sit amet, consectetur adipiscing Lorem dolor sit amet, consectetuadipiscing...</p>
                              </div>
                              <div class="blockquote">
                                <button type="button" class="tooltip-item caption-icons-icon btrash-big"></button>
                              </div>
                            </article>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="detail-deletebar container-fullsize">
                <button class="icon delete s-eight">Excluir Amostras</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/lib/jquery-1.10.1.min.js"></script>
    <!--<script src="js/lib/spine/min.js"></script>
    <script src="js/lib/require-jquery.js" data-main="js/app"></script>-->
    <script type="text/javascript" src="../js/lib/jquery.elevatezoom.js"></script>
    <script type="text/javascript">
      //http://www.elevateweb.co.uk/image-zoom/examples
      $('#zoom_05').elevateZoom({
        zoomType: "inner",
        cursor: "crosshair",
        zoomWindowFadeIn: 500,
        zoomWindowFadeOut: 750
      }); 
    </script>
  </body>
</html>