<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
  <head>
    <title>WebFair - Home</title>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="author" content="Focus">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300" rel="stylesheet" type="text/css">
      <!-- build:css css/styles.min.css-->
      <link href="../css/reset.css" rel="stylesheet">
      <link href="../css/styles.css" rel="stylesheet">
      <!-- endbuild-->
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="icon" type="image/icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="/apple-touch-icon.png">
      <!--[if gte IE 9]<html class="ie9"><![endif]-->
      <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><html class="ie8"><![endif]-->
    </head>
  <body>
    <div id="wrap">
      <header>
        <div class="header-collum header-top">
          <a href="index.html" class="logo"><img src="images/logo_small.png" alt=""></a>
          <!--<div class="user">
            <a class="close menu-logoff" title="Sair">Sair</a>
            <h2 class="login-name">Nome do Usuário</h2>
          </div>
          </div>-->
          <h2 class="login-name"><span></span>Nome do Usuário</h2>
          <ul class="menu">
            <li class="menu-item"><a href="#legend" class="bmenu-legend tooltip"><span class="tooltip-item">Legendas</span</a></li>
            <li class="menu-item"><a href="#settings" class="bmenu-settings">Configurações</a></li>
            <li class="menu-item"><a href="#send_receive" class="bmenu-send_receive">Enviar/Receber</a></li>
            <li class="menu-item"><a href="#logoff" class="bmenu-logoff">Sair</a></li>
          </ul>
        </div>
        <div class="header-collum header-bottom">
          <div class="nav-container">
            <nav>
              <ul class="nav-menu">
                <li><a href="Teste1">Gerar<br/>Relatório</a></li>
                <li><a href="Teste2">Local da<br/>Coleta</a></li>
                <li><a href="Teste3">Fornecedor<br/>e Contato</a></li>
                <li><a href="Teste4" class="amostras sel">Amostras</a></li>
                <li><a href="Teste5">Templates<br/>e-Mails</a></li>
              </ul>
            </nav>
          </div>
          <div class="config-menu">
            <ul>
              <li><a href="Teste1"></a></li>
              <li><a href="Teste2"></a></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="container">
        <!--18-->
        <div class="content">
          <div class="container-fullsize">
          <div class="container-fullsize-filter holder">
            <div class="form-container">
              <div class="fake-form m-ten">
                <div class="form-group styled-select">
                  <select class="form-control bselect">
                    <option value="País">País</option>
                    <option value="África do Sul">África do Sul</option>
                    <option value="Albânia">Albânia</option>
                    <option value="Alemanha">Alemanha</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua">Antigua</option>
                    <option value="Arábia Saudita">Arábia Saudita</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armênia">Armênia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Austrália">Austrália</option>
                    <option value="Áustria">Áustria</option>
                    <option value="Azerbaijão">Azerbaijão</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrein">Bahrein</option>
                    <option value="Bangladesh">Bangladesh</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="right-list">
              <button type="button" class="bdefault s-four m-ten bimages" alt="list">Imagens</button>
            </div>
            <div class="form-container">
              <div class="fake-form m-ten">
                <div class="form-group styled-select">
                  <select class="form-control bselect">
                    <option value="País">País</option>
                    <option value="África do Sul">África do Sul</option>
                    <option value="Albânia">Albânia</option>
                    <option value="Alemanha">Alemanha</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua">Antigua</option>
                    <option value="Arábia Saudita">Arábia Saudita</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armênia">Armênia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Austrália">Austrália</option>
                    <option value="Áustria">Áustria</option>
                    <option value="Azerbaijão">Azerbaijão</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrein">Bahrein</option>
                    <option value="Bangladesh">Bangladesh</option>
                  </select>
                </div>
              </div>
              <div class="fake-form m-ten">
                <div class="form-group styled-select">
                  <select class="form-control bselect">
                    <option value="País">País</option>
                    <option value="África do Sul">África do Sul</option>
                    <option value="Albânia">Albânia</option>
                    <option value="Alemanha">Alemanha</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua">Antigua</option>
                    <option value="Arábia Saudita">Arábia Saudita</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armênia">Armênia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Austrália">Austrália</option>
                    <option value="Áustria">Áustria</option>
                    <option value="Azerbaijão">Azerbaijão</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrein">Bahrein</option>
                    <option value="Bangladesh">Bangladesh</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-container">
              <div class="fake-form medium">
                <div class="form-group styled-select">
                  <select class="form-control bselect">
                    <option value="País">País</option>
                    <option value="África do Sul">África do Sul</option>
                    <option value="Albânia">Albânia</option>
                    <option value="Alemanha">Alemanha</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua">Antigua</option>
                    <option value="Arábia Saudita">Arábia Saudita</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armênia">Armênia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Austrália">Austrália</option>
                    <option value="Áustria">Áustria</option>
                    <option value="Azerbaijão">Azerbaijão</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrein">Bahrein</option>
                    <option value="Bangladesh">Bangladesh</option>
                  </select>
                </div>
              </div>
              <div class="fake-form medium">
                <div class="form-group styled-select">
                  <select class="form-control bselect">
                    <option value="País">País</option>
                    <option value="África do Sul">África do Sul</option>
                    <option value="Albânia">Albânia</option>
                    <option value="Alemanha">Alemanha</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua">Antigua</option>
                    <option value="Arábia Saudita">Arábia Saudita</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armênia">Armênia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Austrália">Austrália</option>
                    <option value="Áustria">Áustria</option>
                    <option value="Azerbaijão">Azerbaijão</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrein">Bahrein</option>
                    <option value="Bangladesh">Bangladesh</option>
                  </select>
                </div>
              </div>
              <div class="fake-form medium last">
                <div class="form-group styled-select">
                  <select class="form-control bselect">
                    <option value="País">País</option>
                    <option value="África do Sul">África do Sul</option>
                    <option value="Albânia">Albânia</option>
                    <option value="Alemanha">Alemanha</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua">Antigua</option>
                    <option value="Arábia Saudita">Arábia Saudita</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armênia">Armênia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Austrália">Austrália</option>
                    <option value="Áustria">Áustria</option>
                    <option value="Azerbaijão">Azerbaijão</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrein">Bahrein</option>
                    <option value="Bangladesh">Bangladesh</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="right-list">
              <button type="button" class="bdefault s-four m-ten export" alt="list">Exportar Excel</button>
            </div>
          </div>
          </div>
          <div class="floatThead wrapper">
              <div class="filter-crumb table-large">
                <p class="bread-search">Mostrando:<span class="spec">280 Amostras</span>
                </p>
              </div>
              <table class="table table-striped table-large">
                <thead>
                    <tr>
                        <th>Fornecedor</th><th>Local da coleta</th><th>Data do Cadastro</th><th>Contatos</th><th>Segmentos</th><th>Favoritos</th><th>Anotações</th><th class="tlast">Editar</th>
                    </tr>
                </thead>
                <tbody>
                  <tr><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td>HEINTEXTIL</td><td>HEINTEXTIL</td>
                    <td class="tooltip">
                      <button type="button" class="caption-icons-icon justit bstar has"></button>
                      <ul class="tooltip-content col-large">
                        <li>
                          <button type="button" class="tooltip-item caption-icons-icon bstar has">Jeans</button>
                        </li>
                        <li>
                          <button type="button" class="tooltip-item caption-icons-icon bstar has">Masculino</button>
                        </li>
                      </ul>
                      </td>
                    <td class="tooltip tooltip-selectable">
                      <button type="button" class="caption-icons-icon justit bnote"></button>
                      <ul class="tooltip-content notepad col-large">
                        <li class="tooltip-title">
                          <p class="tooltip-item ">Anotações</p>
                        </li>
                        <li>
                          <article>
                            <div class="notepad-note blockquote">
                              <p>12/03/2015 | xaou xing | 890938746</p>
                              <p>Usuário - Assunto:</p>
                              <p>Lorem ipsum consecteturdolor sit amet, consectetur adipiscing Lorem dolor sit amet, consectetuadipiscing...</p>
                            </div>
                            <div class="blockquote">
                              <button type="button" class="tooltip-item caption-icons-icon btrash-big"></button>
                            </div>
                          </article>
                        </li>
                        <li>
                          <article>
                            <div class="notepad-note blockquote">
                              <p>12/03/2015 | xaou xing | 890938746</p>
                              <p>Usuário - Assunto:</p>
                              <p>Lorem ipsum consecteturdolor sit amet, consectetur adipiscing Lorem dolor sit amet, consectetuadipiscing...</p>
                            </div>
                            <div class="blockquote">
                              <button type="button" class="tooltip-item caption-icons-icon btrash-big"></button>
                            </div>
                          </article>
                        </li>
                      </ul>
                    </td>
                    <td>
                      <button type="button" class="caption-icons-icon justit bstatus complet"></button>
                    </td>
                  </tr>
                  <tr><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td>HEINTEXTIL</td><td>HEINTEXTIL</td><td class="tooltip"><button type="button" class="caption-icons-icon justit bstar has"></button><ul class="tooltip-content col-large">
                      <li>
                        <button type="button" class="tooltip-item caption-icons-icon bstar has">Masculino</button>
                      </li>
                      <li>
                        <button type="button" class="tooltip-item caption-icons-icon bstar has">Jeans</button>
                      </li>
                    </ul></td>
                    <td ></td><td><button type="button" class="caption-icons-icon justit bstatus complet"></button></td></tr>
                  <tr><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td>HEINTEXTIL</td><td>HEINTEXTIL</td><td class="tooltip"><button type="button" class="caption-icons-icon justit bstar has"></button><ul class="tooltip-content col-large">
                      <li>
                        <button type="button" class="tooltip-item caption-icons-icon bstar has">Masculino</button>
                      </li>
                      <li>
                        <button type="button" class="tooltip-item caption-icons-icon bstar has">Jeans</button>
                      </li>
                    </ul></td>
                    <td class="tooltip tooltip-selectable">
                      <button type="button" class="caption-icons-icon justit bnote"></button>
                      <ul class="tooltip-content notepad col-large">
                        <li class="tooltip-title">
                          <p class="tooltip-item ">Anotações</p>
                        </li>
                        <li>
                          <article>
                            <div class="notepad-note blockquote">
                              <p>12/03/2015 | xaou xing | 890938746</p>
                              <p>Usuário - Assunto:</p>
                              <p>Lorem ipsum consecteturdolor sit amet, consectetur adipiscing Lorem dolor sit amet, consectetuadipiscing...</p>
                            </div>
                            <div class="blockquote">
                              <button type="button" class="tooltip-item caption-icons-icon btrash-big"></button>
                            </div>
                          </article>
                        </li>
                        <li>
                          <article>
                            <div class="notepad-note blockquote">
                              <p>12/03/2015 | xaou xing | 890938746</p>
                              <p>Usuário - Assunto:</p>
                              <p>Lorem ipsum consecteturdolor sit amet, consectetur adipiscing Lorem dolor sit amet, consectetuadipiscing...</p>
                            </div>
                            <div class="blockquote">
                              <button type="button" class="tooltip-item caption-icons-icon btrash-big"></button>
                            </div>
                          </article>
                        </li>
                      </ul>
                  </td><td><button type="button" class="caption-icons-icon justit bstatus incomplet"></button></td></tr>
                  <tr><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td>HEINTEXTIL</td><td>HEINTEXTIL</td><td><button type="button" class="caption-icons-icon justit bstar nothas"></button></td>
                  <td><button type="button" class="caption-icons-icon justit bnote"></button></td><td><button type="button" class="caption-icons-icon justit bstatus complet"></button></td></tr>
                  <tr><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td>HEINTEXTIL</td><td>HEINTEXTIL</td><td><button type="button" class="caption-icons-icon justit bstar has"></button></td><td><button type="button" class="caption-icons-icon justit bnote"></button></td><td><button type="button" class="caption-icons-icon justit bstatus complet"></button></td></tr>
                  <tr><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td>HEINTEXTIL</td><td>HEINTEXTIL</td><td><button type="button" class="caption-icons-icon justit bstar nothas"></button></td><td><button type="button" class="caption-icons-icon justit bnote"></button></td><td><button type="button" class="caption-icons-icon justit bstatus incomplet"></button></td></tr>
                  <tr><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td>HEINTEXTIL</td><td>HEINTEXTIL</td><td><button type="button" class="caption-icons-icon justit bstar has"></button></td><td><button type="button" class="caption-icons-icon justit bnote"></button></td><td><button type="button" class="caption-icons-icon justit bstatus complet"></button></td></tr>
                  <tr><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td>HEINTEXTIL</td><td>HEINTEXTIL</td><td><button type="button" class="caption-icons-icon justit bstar nothas"></button></td><td><button type="button" class="caption-icons-icon justit bnote"></button></td><td><button type="button" class="caption-icons-icon justit bstatus incomplet"></button></td></tr>
                  <tr><td>HEINTEXTIL</td><td>XAOXING</td><td>CHINA</td><td>HEINTEXTIL</td><td>HEINTEXTIL</td><td><button type="button" class="caption-icons-icon justit bstar has"></button></td><td><button type="button" class="caption-icons-icon justit bnote"></button></td><td><button type="button" class="caption-icons-icon justit bstatus complet"></button></td></tr>
                </tbody>
              </table>
          </div>
        </div>
    <script src="js/lib/jquery-1.10.1.min.js"></script>
    <script src="js/lib/spine/min.js"></script>
    <script src="js/lib/require-jquery.js" data-main="js/app"></script>
  </body>
</html>